flows.json
[{"id":"a203440a.3c5b78","type":"tab","label":"AE Orig MQTT","disabled":false,"info":""},{"id":"f9ddf01d.16b93","type":"tab","label":"Power Bar 1 (AC)","disabled":false,"info":""},{"id":"c39fa444.1fa9f8","type":"tab","label":"PB2 (12v)","disabled":false,"info":""},{"id":"1044d52f.831e8b","type":"tab","label":"System","disabled":false,"info":""},{"id":"dcde7d45.f1db5","type":"tab","label":"Settings","disabled":false,"info":""},{"id":"762f7507.8a238c","type":"tab","label":"Manual Tests","disabled":false,"info":""},{"id":"afefe283.1962e","type":"tab","label":"Lights","disabled":false,"info":""},{"id":"a561ce96.8b15d","type":"tab","label":"ESP Lights","disabled":false,"info":""},{"id":"41376853.feabd8","type":"tab","label":"Single Dose","disabled":false,"info":""},{"id":"bee4999d.d0f058","type":"tab","label":"Dosing Containers","disabled":false,"info":""},{"id":"8b03d247.f1303","type":"tab","label":"Fert Cycle","disabled":false,"info":""},{"id":"a26fded0.5e64f","type":"tab","label":"Devices","disabled":false,"info":""},{"id":"f0075dd2.5f44e","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"1500acce.10e563","type":"tab","label":"Pump Calibration","disabled":false,"info":""},{"id":"15557443.44bf4c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3aa72dda.b4e742","type":"tab","label":"ESP WaterLevel","disabled":false,"info":""},{"id":"72ea5e22.d0c31","type":"mqtt-broker","z":"","name":"Local MQ","broker":"127.0.0.1","port":"1883","tls":"","clientid":"mq_NR_user","usetls":false,"compatmode":false,"keepalive":"60","cleansession":false,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6c26edbc.5e32b4","type":"ui_tab","z":0,"name":"Settings","icon":"fa-cog","order":4},{"id":"195b24c4.f3e5cb","type":"ui_tab","z":0,"name":"System","icon":"dashboard","order":3},{"id":"1138cce0.4763a3","type":"ui_tab","z":0,"name":"Power Bar","icon":"dashboard","order":2},{"id":"fd6c3b73.99eaa8","type":"ui_tab","z":"","name":"Dashboard","icon":"dashboard","order":1},{"id":"f0d32086.c14","type":"ui_group","z":"","name":"Socket Names PB1 (AC)","tab":"6c26edbc.5e32b4","order":4,"disp":true,"width":"6","collapse":false},{"id":"d6978321.fa92c","type":"ui_group","z":"","name":"Temperature","tab":"6c26edbc.5e32b4","order":2,"disp":true,"width":"6","collapse":false},{"id":"691535d0.7783bc","type":"ui_group","z":"","name":"Dosing","tab":"b0e3185d.3a7d68","order":3,"disp":true,"width":"6","collapse":true},{"id":"5f8932d4.ed637c","type":"ui_group","z":0,"name":"System","tab":"195b24c4.f3e5cb","order":4,"disp":true,"width":"6","collapse":false},{"id":"6dc1a038.a0702","type":"ui_group","z":0,"name":"CPU Load","tab":"195b24c4.f3e5cb","order":2,"disp":true,"width":"6","collapse":false},{"id":"40b1d483.c6e9ec","type":"ui_group","z":0,"name":"CPU Temp","tab":"195b24c4.f3e5cb","order":1,"disp":true,"width":"6","collapse":false},{"id":"cfbd1dd4.686fb","type":"ui_group","z":0,"name":"Memory","tab":"195b24c4.f3e5cb","order":3,"disp":true,"width":"6","collapse":false},{"id":"16d14e11.5259e2","type":"ui_group","z":"","name":"Water Levels","tab":"b0e3185d.3a7d68","order":4,"disp":true,"width":"6","collapse":true},{"id":"5dc5be55.a8f18","type":"ui_group","z":"","name":"Power Bar 1 (AC)","tab":"1138cce0.4763a3","order":1,"disp":true,"width":"6","collapse":true},{"id":"e4ff5249.d85ce","type":"ui_group","z":"","name":"Power Bar 2 (12v)","tab":"1138cce0.4763a3","disp":true,"width":"5","collapse":true},{"id":"a17a229d.02d25","type":"mqtt-broker","z":"","name":"Active AE","broker":"192.168.0.71","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b72cd584.69f598","type":"influxdb","z":"","hostname":"localhost","port":"8086","protocol":"http","database":"AquaEscape","name":"","usetls":false,"tls":""},{"id":"47040f96.2f31a","type":"ui_group","z":"","name":"Test Results","tab":"b0e3185d.3a7d68","order":6,"disp":true,"width":"6","collapse":true},{"id":"b0e3185d.3a7d68","type":"ui_tab","z":"","name":"Water Mgmt","icon":"fa-leaf","order":5},{"id":"bb6e7b5c.4a1b28","type":"ui_group","z":"","name":"Single Dose","tab":"b0e3185d.3a7d68","order":5,"disp":true,"width":"6","collapse":true},{"id":"29cbd71d.dc44b8","type":"ui_group","z":"","name":"LED PWM Controls","tab":"c0bfcdb6.ba368","order":2,"disp":true,"width":"6"},{"id":"3a7070c3.faf28","type":"ui_group","z":"","name":"Light Curve","tab":"c0bfcdb6.ba368","disp":true,"width":"12"},{"id":"e620ae25.1b9","type":"ui_group","z":"","name":"Resume TimerSwitch","tab":"a32ab5c.e7b3c48","disp":true,"width":"6"},{"id":"833ca5b5.fb4848","type":"ui_group","z":"","name":"Light","tab":"fd6c3b73.99eaa8","order":3,"disp":true,"width":"2"},{"id":"c0bfcdb6.ba368","type":"ui_tab","z":"","name":"Lights","icon":"fa-lightbulb-o","order":6},{"id":"a32ab5c.e7b3c48","type":"ui_tab","z":"","name":"Fix","icon":"dashboard","order":7},{"id":"bbb133fb.08ba","type":"ui_group","z":"","name":"Dosing Pumps","tab":"b0e3185d.3a7d68","order":2,"disp":true,"width":"6","collapse":true},{"id":"a0e68307.6cfd8","type":"ui_group","z":"","name":"Fert Cycle","tab":"b0e3185d.3a7d68","order":1,"disp":true,"width":"6","collapse":true},{"id":"4aa126c0.fadea8","type":"ui_group","z":"","name":"Socket Names PB2 (12v)","tab":"6c26edbc.5e32b4","order":5,"disp":true,"width":"6","collapse":true},{"id":"a25125e5.502b28","type":"ui_group","z":"","name":"Devices","tab":"fd6c3b73.99eaa8","order":2,"disp":true,"width":"6","collapse":false},{"id":"a28c35b.5574cc8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"AquaEscape","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":2,"py":2}}},{"id":"2fb31fa9.229cd","type":"ui_group","z":"","name":"Water","tab":"fd6c3b73.99eaa8","order":1,"disp":true,"width":"7","collapse":false},{"id":"fab54156.2d73e","type":"ui_group","z":"","name":"System","tab":"fd6c3b73.99eaa8","order":4,"disp":true,"width":"2","collapse":false},{"id":"c04f4839.8882b8","type":"ui_group","z":"","name":"Dosing Pumps Calibration","tab":"b0e3185d.3a7d68","order":7,"disp":true,"width":"6","collapse":true},{"id":"93f71a0b.3c5ca8","type":"ui_group","z":"","name":"Default","tab":"15737203.b0329e","disp":true,"width":"6"},{"id":"15737203.b0329e","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":8},{"id":"34ba262b.59a9ca","type":"ui_group","z":"","name":"Influx","tab":"195b24c4.f3e5cb","disp":true,"width":"6","collapse":false},{"id":"29c076de.83d0ea","type":"debug","z":"f9ddf01d.16b93","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":265,"y":69,"wires":[]},{"id":"b87e911f.ce405","type":"catch","z":"f9ddf01d.16b93","name":"","scope":null,"x":113,"y":67,"wires":[["29c076de.83d0ea"]]},{"id":"ea1de468.6d8b88","type":"inject","z":"1044d52f.831e8b","name":"update","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"x":230,"y":267,"wires":[["29876bca.ea4864","83a1af5a.2222","b389234f.fb883","e96e6996.dd55a8"]]},{"id":"bd30048b.0f5988","type":"function","z":"1044d52f.831e8b","name":"","func":"msg.payload = msg.payload.loadavg[0]*100/4;\nreturn msg;","outputs":1,"noerr":0,"x":466,"y":122,"wires":[["4a12db17.6bc304"]]},{"id":"e244b153.b6643","type":"function","z":"1044d52f.831e8b","name":"","func":"msg.payload = msg.payload.memusage;\nreturn msg;","outputs":1,"noerr":0,"x":252,"y":721,"wires":[["a37c9c1c.80eea"]]},{"id":"5685312b.271a3","type":"function","z":"1044d52f.831e8b","name":"","func":"function formatBytes(bytes,decimals) {\n   if(bytes === 0) return '0 Byte';\n   var k = 1000; // or 1024 for binary\n   var dm = decimals + 1 || 3;\n   var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];\n   var i = Math.floor(Math.log(bytes) / Math.log(k));\n   return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];\n}\n\nmsg.payload = formatBytes(msg.payload.totalmem);\nreturn msg;","outputs":1,"noerr":0,"x":254,"y":764,"wires":[["948633ce.f5bb1"]]},{"id":"13d740c6.6f92cf","type":"function","z":"1044d52f.831e8b","name":"","func":"function formatBytes(bytes,decimals) {\n   if(bytes === 0) return '0 Byte';\n   var k = 1000; // or 1024 for binary\n   var dm = decimals + 1 || 3;\n   var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];\n   var i = Math.floor(Math.log(bytes) / Math.log(k));\n   return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];\n}\n\nmsg.payload = formatBytes(msg.payload.freemem);\nreturn msg;","outputs":1,"noerr":0,"x":252,"y":810,"wires":[["1de7353e.d396cb"]]},{"id":"282e275a.5d3118","type":"function","z":"1044d52f.831e8b","name":"","func":" var millisec = msg.payload.uptime * 1000 || 0;\n\n    var seconds = (millisec / 1000).toFixed(1);\n\n    var minutes = (millisec / (1000 * 60)).toFixed(1);\n\n    var hours = (millisec / (1000 * 60 * 60)).toFixed(1);\n\n    var days = (millisec / (1000 * 60 * 60 * 24)).toFixed(1);\n\n    if (seconds < 60) {\n        msg.payload = seconds + \" Sec\";\n    } else if (minutes < 60) {\n        msg.payload = minutes + \" Min\";\n    } else if (hours < 24) {\n        msg.payload = hours + \" Hrs\";\n    } else {\n        msg.payload =  days + \" Days\";\n    }\n    \n    //var level = parseInt(msg.payload);\n        if (  days < 1)\n            {\n                msg.color = 'red';\n            }\n        else\n            {\n                msg.color = 'lime';\n            }\n\n\n\n\n\n//msg.payload = timeConversion(msg.payload.uptime * 1000);\nreturn msg;","outputs":1,"noerr":0,"x":542,"y":375,"wires":[["bdd22d9f.112b7","ba3a5fda.438c8"]]},{"id":"b84deecf.24068","type":"function","z":"1044d52f.831e8b","name":"","func":"msg.payload = msg.payload.hostname;\nreturn msg;","outputs":1,"noerr":0,"x":541,"y":412,"wires":[["7bbda4fe.b8c6fc"]]},{"id":"90412062.b9f52","type":"function","z":"1044d52f.831e8b","name":"","func":"msg.payload = msg.payload.loadavg[0]*100/4;\nreturn msg;","outputs":1,"noerr":0,"x":466,"y":162,"wires":[[]]},{"id":"92d28500.c79108","type":"function","z":"1044d52f.831e8b","name":"","func":"msg.payload = msg.payload.memusage;\nreturn msg;","outputs":1,"noerr":0,"x":249,"y":682,"wires":[[]]},{"id":"10d3f62f.3b3f3a","type":"comment","z":"1044d52f.831e8b","name":"CPU Load","info":"","x":624,"y":79,"wires":[]},{"id":"b4fec1d8.8d72","type":"comment","z":"1044d52f.831e8b","name":"Memory Usage","info":"","x":432,"y":635,"wires":[]},{"id":"8ba857d2.bdec88","type":"comment","z":"1044d52f.831e8b","name":"System Information","info":"","x":592.0000305175781,"y":280.0000228881836,"wires":[]},{"id":"9ad6386c.b4eff8","type":"exec","z":"1044d52f.831e8b","command":"df -h","addpay":false,"append":"","useSpawn":"","timer":"","name":"Disk Usage","x":486,"y":922,"wires":[["b0461c24.b2a12"],[],[]]},{"id":"b0461c24.b2a12","type":"function","z":"1044d52f.831e8b","name":"","func":"var re = /([0-9]{2})%/\nvar idx = msg.payload.search(re);\nvar str = msg.payload;\nif (idx >=0) {\n str = msg.payload.substring(idx, idx + 2);\n}\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":666,"y":922,"wires":[[]]},{"id":"b5074eb7.506d7","type":"inject","z":"1044d52f.831e8b","name":"","topic":"","payload":"","payloadType":"date","repeat":"600","crontab":"","once":false,"x":286,"y":922,"wires":[[]]},{"id":"f37f79d7.f3fd48","type":"inject","z":"1044d52f.831e8b","name":"","topic":"","payload":"","payloadType":"num","repeat":"30","crontab":"","once":true,"x":266,"y":1162,"wires":[["27092dda.ecae62"]]},{"id":"27092dda.ecae62","type":"exec","z":"1044d52f.831e8b","command":"vcgencmd","addpay":false,"append":"measure_temp","useSpawn":"","timer":"","name":"getCPUtemp","x":434.6031188964844,"y":1162.4602945872716,"wires":[["27bc7bdd.2e2ac4"],[],[]]},{"id":"27bc7bdd.2e2ac4","type":"function","z":"1044d52f.831e8b","name":"CPU Temp Function","func":"//msg.payload = {'d':{'temp': parseFloat(msg.payload.replace(\"temp=\",\"\").replace(\"'F\\n\",\"\"))}};\nmsg.payload = parseFloat(msg.payload.replace(\"temp=\",\"\").replace(\"'F\\n\",\"\"));\nreturn msg;","outputs":1,"noerr":0,"x":642.1904220581055,"y":1149.7143229075841,"wires":[["1a0c4adf.279a95"]]},{"id":"69821ac8.370ee4","type":"mqtt out","z":"1044d52f.831e8b","name":"MQTT-CpuTemp","topic":"sys/cpu/temp","qos":"2","retain":"","broker":"72ea5e22.d0c31","x":1056,"y":1142,"wires":[]},{"id":"b53c8cee.da82c","type":"comment","z":"1044d52f.831e8b","name":"Check CPU's Temperature","info":"","x":303.0000305175781,"y":1115.6192539760045,"wires":[]},{"id":"1a0c4adf.279a95","type":"function","z":"1044d52f.831e8b","name":"C to F","func":"var tempc = msg.payload;\n    tempf = tempc * 9/5 + 32;\n    tempf = Math.round(tempf * 10) / 10;\n    msg.payload = tempf;\n    msg.topic=\"Monitor.CPU.Temp\"\n    return msg;","outputs":1,"noerr":0,"x":826,"y":1142,"wires":[["69821ac8.370ee4","3d571224.bf1afe","f17cad26.d76c8"]]},{"id":"e7532e31.36e97","type":"exec","z":"1044d52f.831e8b","command":"sudo reboot","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"Reboot","x":706,"y":1342,"wires":[[],[],[]]},{"id":"20c7dc58.a665c4","type":"exec","z":"1044d52f.831e8b","command":"sudo shutdown -h now","addpay":false,"append":"","useSpawn":"","timer":"","name":"Shutdown","x":520,"y":1400,"wires":[[],[],[]]},{"id":"9bf9c9b3.24d168","type":"exec","z":"1044d52f.831e8b","command":"sudo sh -c \"sync; echo 3 > /proc/sys/vm/drop_caches\"","addpay":false,"append":"","useSpawn":"","timer":"","name":"Clear Cache","x":686,"y":1522,"wires":[[],[],[]]},{"id":"83096c77.08fd1","type":"inject","z":"1044d52f.831e8b","name":"","topic":"","payload":"","payloadType":"date","repeat":"86400","crontab":"","once":false,"x":316,"y":1522,"wires":[["9bf9c9b3.24d168"]]},{"id":"f17cad26.d76c8","type":"function","z":"1044d52f.831e8b","name":"","func":"var level = msg.payload;\nif (  level < 82 || level > 140)\n    {\n        msg.color = 'red';\n    }\nelse\n    {\n        msg.color = 'lime';\n    }\n\n\nreturn msg;","outputs":1,"noerr":0,"x":946,"y":1022,"wires":[["9ad5f747.9656a8","f2fa3bb6.ac1018"]]},{"id":"deec3107.8315e","type":"inject","z":"1044d52f.831e8b","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":301.6333465576172,"y":1287.8666610717773,"wires":[["e7532e31.36e97"]]},{"id":"f1f903b2.37bcf","type":"inject","z":"1044d52f.831e8b","name":"","topic":"sys/dev/esp","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":250,"y":1760,"wires":[["9b1c7d4a.2645"]]},{"id":"9b1c7d4a.2645","type":"exec","z":"1044d52f.831e8b","command":"sudo arp ","addpay":false,"append":" -a | grep ESP","useSpawn":"false","timer":"","oldrc":false,"name":"arp","x":470,"y":1760,"wires":[["22e4b026.a1e93","8ad4ee53.e9161"],[],[]]},{"id":"80bde8f4.d25e58","type":"catch","z":"1044d52f.831e8b","name":"","scope":null,"x":180,"y":40,"wires":[["85e76c8f.475a1"]]},{"id":"85e76c8f.475a1","type":"debug","z":"1044d52f.831e8b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":360,"y":40,"wires":[]},{"id":"22e4b026.a1e93","type":"debug","z":"1044d52f.831e8b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":670,"y":1820,"wires":[]},{"id":"947b271a.d8d028","type":"function","z":"1044d52f.831e8b","name":"","func":"var a = '\\b\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}\\b';\nvar payload = msg.payload;\nvar ip = payload.substring(payload.indexOf(\"(\") +1, payload.indexOf(\")\"));\nmsg.payload = ip;\n\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":1700,"wires":[["f2a3fdfd.dd4f3","37d5bdce.161572"]]},{"id":"8ad4ee53.e9161","type":"split","z":"1044d52f.831e8b","name":"","splt":"\\n","spltType":"str","arraySplt":"10","arraySpltType":"len","stream":false,"addname":"topic","x":620,"y":1740,"wires":[["947b271a.d8d028","41a02445.dfff9c"]]},{"id":"f2a3fdfd.dd4f3","type":"debug","z":"1044d52f.831e8b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":930,"y":1740,"wires":[]},{"id":"41a02445.dfff9c","type":"debug","z":"1044d52f.831e8b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":770,"y":1760,"wires":[]},{"id":"37d5bdce.161572","type":"join","z":"1044d52f.831e8b","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"</br>","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":890,"y":1660,"wires":[["b2dee815.d757d8"]]},{"id":"c1a7555d.182088","type":"inject","z":"1044d52f.831e8b","name":"","topic":"","payload":" .","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":830,"y":1620,"wires":[["b2dee815.d757d8"]]},{"id":"b379a075.8fd8b","type":"mqtt in","z":"f9ddf01d.16b93","name":"","topic":"pb/+/name","qos":"2","broker":"72ea5e22.d0c31","x":180,"y":360,"wires":[["67593b76.669b54"]]},{"id":"c8a80e73.57e7a","type":"mqtt in","z":"dcde7d45.f1db5","name":"","topic":"cfg/wl/offset","qos":"2","broker":"72ea5e22.d0c31","x":155,"y":280,"wires":[["7eb958fa.c12b08"]]},{"id":"1b0d1a3c.ea3a06","type":"mqtt in","z":"dcde7d45.f1db5","name":"","topic":"cfg/temp/set","qos":"2","broker":"72ea5e22.d0c31","x":155,"y":160,"wires":[["c2aa0ceb.713f"]]},{"id":"4c02500f.668fc","type":"mqtt in","z":"dcde7d45.f1db5","name":"","topic":"cfg/wl/min","qos":"2","broker":"72ea5e22.d0c31","x":145,"y":200,"wires":[["f632393a.b9ec18"]]},{"id":"e0009969.a9c348","type":"mqtt in","z":"dcde7d45.f1db5","name":"","topic":"cfg/wl/max","qos":"2","broker":"72ea5e22.d0c31","x":145,"y":240,"wires":[["3bb442b7.633cce"]]},{"id":"e16ffd73.9b1ff","type":"catch","z":"dcde7d45.f1db5","name":"","scope":null,"x":135,"y":100,"wires":[["974b6e4b.ead5d"]]},{"id":"974b6e4b.ead5d","type":"debug","z":"dcde7d45.f1db5","name":"","active":true,"console":"false","complete":"true","x":295,"y":100,"wires":[]},{"id":"8100ef77.190b9","type":"mqtt in","z":"dcde7d45.f1db5","name":"","topic":"cfg/wl/filtermin","qos":"2","broker":"72ea5e22.d0c31","x":155,"y":320,"wires":[["cb85ea2e.2fa098"]]},{"id":"d88d0663.52e688","type":"mqtt in","z":"dcde7d45.f1db5","name":"","topic":"cfg/dose/macro/amt","qos":"2","broker":"72ea5e22.d0c31","x":175,"y":400,"wires":[["c49829ec.6e1918"]]},{"id":"1b20a1f8.22de3e","type":"mqtt in","z":"dcde7d45.f1db5","name":"","topic":"cfg/dose/macro/rate","qos":"2","broker":"72ea5e22.d0c31","x":175,"y":440,"wires":[["f8cb6b90.6fe198"]]},{"id":"a90d378d.87f7e8","type":"mqtt in","z":"dcde7d45.f1db5","name":"","topic":"cfg/dose/micro/rate","qos":"2","broker":"72ea5e22.d0c31","x":175,"y":480,"wires":[["a170dd52.4dfe7"]]},{"id":"dd79f5a7.3aeae8","type":"mqtt in","z":"dcde7d45.f1db5","name":"","topic":"cfg/dose/micro/amt","qos":"2","broker":"72ea5e22.d0c31","x":175,"y":520,"wires":[["47f46840.b721d8"]]},{"id":"a22ba4b1.85e4a8","type":"mqtt in","z":"dcde7d45.f1db5","name":"","topic":"cfg/dose/gh/amt","qos":"2","broker":"72ea5e22.d0c31","x":165,"y":560,"wires":[["f69a0c52.86065"]]},{"id":"214a91b9.eb2fde","type":"mqtt in","z":"dcde7d45.f1db5","name":"","topic":"cfg/dose/gh/rate","qos":"2","broker":"72ea5e22.d0c31","x":165,"y":600,"wires":[["4ba9f52a.903bfc"]]},{"id":"8121d5f9.1ea288","type":"mqtt in","z":"dcde7d45.f1db5","name":"","topic":"cfg/dose/alk/rate","qos":"2","broker":"72ea5e22.d0c31","x":165,"y":640,"wires":[["3731344e.67197c"]]},{"id":"e5c804fc.dfdb68","type":"mqtt in","z":"dcde7d45.f1db5","name":"","topic":"cfg/dose/alk/amt","qos":"2","broker":"72ea5e22.d0c31","x":165,"y":680,"wires":[["bdc7d1a2.21ab7"]]},{"id":"db1c6b14.29f328","type":"mqtt out","z":"dcde7d45.f1db5","name":"","topic":"","qos":"2","retain":"true","broker":"72ea5e22.d0c31","x":770,"y":460,"wires":[]},{"id":"1e373548.dc0b7b","type":"inject","z":"dcde7d45.f1db5","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":845,"y":220,"wires":[["bdc4b70a.8aa818"]]},{"id":"bdc4b70a.8aa818","type":"function","z":"dcde7d45.f1db5","name":"Dump Global","func":"var global = this.context.global;\nmsg.payload = global;\nreturn msg;","outputs":1,"noerr":0,"x":1025,"y":220,"wires":[["8fa8179.4e130e8"]]},{"id":"8fa8179.4e130e8","type":"debug","z":"dcde7d45.f1db5","name":"","active":false,"console":"false","complete":"false","x":1185,"y":220,"wires":[]},{"id":"12669e35.beb302","type":"inject","z":"dcde7d45.f1db5","name":"","topic":"name/pb1","payload":"160","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":825,"y":280,"wires":[["7ae14d23.4aed54"]]},{"id":"7ae14d23.4aed54","type":"function","z":"dcde7d45.f1db5","name":"Delete a Global Var","func":"//delete this.context.global.cfg;\n\n\nvar numbers = [4, 9, 16, 25];\nvar global = this.context.global;\n//this.context.global\n//numbers.forEach(myFunction);\nvar fLen = global.length;\nmsg.item = 1;\n/*\nfor (i = 0; i < fLen; i++) {\n       if (this.context.global[i].substring(1,3) === \"cfg\"){\n        this.context.global.splice(i, 1);\n    }\n}\n\nfunction myFunction(value, index, array) {\n    if (value === \"myarray\"){\n        array.splice(index, 1);\n    }\n}\n*/\n\nfor (var prop in global) {\n    var p = prop.toString();\n     if (p.substring(0,4) === \"name\"){\n          delete this.context.global[p];\n     }\n}\n\n\nmsg.payload = numbers;\nreturn msg;","outputs":1,"noerr":0,"x":1045,"y":280,"wires":[["b358e167.866bd"]]},{"id":"b358e167.866bd","type":"debug","z":"dcde7d45.f1db5","name":"","active":false,"console":"false","complete":"true","x":1205,"y":280,"wires":[]},{"id":"89f1337c.f9693","type":"function","z":"f9ddf01d.16b93","name":"Send to global","func":"global.set(msg.topic,msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":340,"wires":[["47ac47b2.a39e28"]]},{"id":"7b1fd51f.42209c","type":"switch","z":"f9ddf01d.16b93","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"pb/1/name","vt":"str"},{"t":"eq","v":"pb/2/name","vt":"str"},{"t":"eq","v":"pb/3/name","vt":"str"},{"t":"eq","v":"pb/4/name","vt":"str"},{"t":"eq","v":"pb/5/name","vt":"str"},{"t":"eq","v":"pb/6/name","vt":"str"},{"t":"eq","v":"pb/7/name","vt":"str"},{"t":"eq","v":"pb/8/name","vt":"str"},{"t":"eq","v":"pb/9/name","vt":"str"},{"t":"eq","v":"pb/10/name","vt":"str"}],"checkall":"false","repair":false,"outputs":10,"x":610,"y":360,"wires":[["e1269cd0.6fe01"],["a6511e2f.ef261"],["19a8cda4.f66022"],["9b928ede.a19dd"],["8442d620.9e8518"],["b1057c88.2af4c"],["953d1487.0c3518"],["55cd7323.4c995c"],[],[]]},{"id":"67593b76.669b54","type":"function","z":"f9ddf01d.16b93","name":"Send to global","func":"global.set(msg.topic,msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":360,"wires":[["7b1fd51f.42209c"]]},{"id":"47ac47b2.a39e28","type":"mqtt out","z":"f9ddf01d.16b93","name":"","topic":"","qos":"2","retain":"true","broker":"72ea5e22.d0c31","x":1217,"y":336,"wires":[]},{"id":"da238fd0.514f4","type":"mqtt out","z":"f9ddf01d.16b93","name":"","topic":"","qos":"2","retain":"true","broker":"72ea5e22.d0c31","x":1201,"y":689,"wires":[]},{"id":"9a51e8bf.62d648","type":"mqtt in","z":"f9ddf01d.16b93","name":"","topic":"pb/#","qos":"2","broker":"72ea5e22.d0c31","x":151,"y":708,"wires":[["cdf56c86.9ed61"]]},{"id":"cdf56c86.9ed61","type":"function","z":"f9ddf01d.16b93","name":"","func":"var channel = msg.topic.split(\"/\")[1] || 0;\nvar val = context.get(\"val\" + channel) || \"off\";\nvar name = context.get(\"name\" + channel) || \"\";\n\nif (msg.topic.split(\"/\")[2] == \"name\"){\n    msg.name = msg.payload;\n    msg.payload = val;\n    context.set(\"name\" + channel, msg.name);\n    msg.txt = msg.payload == \"off\" ? '<i class=\"fa fa-power-off   nr-dashboard-error\"></i> ' : '<i class=\"fa fa-power-off  nr-dashboard-ok\"></i> ';\n    node.send(msg);\n}\nelse if (msg.topic.split(\"/\")[2] == \"val\"){\n    msg.name = name;\n    context.set(\"val\" + channel, msg.payload);\n    msg.txt = msg.payload == \"off\" ? '<i class=\"fa fa-power-off   nr-dashboard-error\"></i> ' : '<i class=\"fa fa-power-off  nr-dashboard-ok\"></i> ';\n    node.send(msg);\n}\n\n\n\n","outputs":1,"noerr":0,"x":391,"y":708,"wires":[["581c7bd0.292554"]]},{"id":"581c7bd0.292554","type":"switch","z":"f9ddf01d.16b93","name":"Power Bar 1","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"pb/1/","vt":"str"},{"t":"cont","v":"pb/2/","vt":"str"},{"t":"cont","v":"pb/3/","vt":"str"},{"t":"cont","v":"pb/4/","vt":"str"},{"t":"cont","v":"pb/5/","vt":"str"},{"t":"cont","v":"pb/6/","vt":"str"},{"t":"cont","v":"pb/7/","vt":"str"},{"t":"cont","v":"pb/8/","vt":"str"},{"t":"cont","v":"pb/9/","vt":"str"},{"t":"cont","v":"pb/10/","vt":"str"}],"checkall":"false","repair":false,"outputs":10,"x":611,"y":708,"wires":[["6e7d7980.90e0b8"],["2b03d12d.24005e"],["8428a786.7d2e78"],["fbe335b2.ad6868"],["d6ac10a0.2aa2d"],["64fd2133.ba8cd"],["adac1344.05192"],["594ada16.2d4794"],[],[]]},{"id":"45e12421.784c6c","type":"function","z":"f9ddf01d.16b93","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1051,"y":688,"wires":[["da238fd0.514f4"]]},{"id":"a036ca50.1e0848","type":"delay","z":"41376853.feabd8","name":"Turn Off Delay","pauseType":"delayv","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":440,"y":580,"wires":[["511bd21a.747a3c"]]},{"id":"dc0fc24.9df914","type":"function","z":"41376853.feabd8","name":"Build Msg","func":"    var newmsg = {payload:\"on\"};\n    var topic = flow.get(\"pumpName\").toLowerCase();\n    newmsg.delay = flow.get(\"secs\");\n    newmsg.topic = \"relays/input/\" + topic;\nreturn newmsg;","outputs":1,"noerr":0,"x":300,"y":500,"wires":[["a036ca50.1e0848","14d01732.517829","1ce8703a.15a69"]]},{"id":"14d01732.517829","type":"mqtt out","z":"41376853.feabd8","name":"relays/input/+","topic":"","qos":"","retain":"","broker":"72ea5e22.d0c31","x":830,"y":500,"wires":[]},{"id":"5caaa79a.3333d8","type":"debug","z":"41376853.feabd8","name":"","active":false,"console":"false","complete":"true","x":850,"y":560,"wires":[]},{"id":"511bd21a.747a3c","type":"function","z":"41376853.feabd8","name":"Off Msg","func":"msg.payload = \"off\";\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":580,"wires":[["5caaa79a.3333d8","14d01732.517829","63572a87.4b9cb4"]]},{"id":"1ce8703a.15a69","type":"debug","z":"41376853.feabd8","name":"","active":false,"console":"false","complete":"true","x":390,"y":380,"wires":[]},{"id":"51e65122.fa056","type":"function","z":"41376853.feabd8","name":"PumpName","func":"msg.origPayload = msg.payload;\nflow.set(\"pumpName\", msg.payload);\nvar pump = msg.payload.toLowerCase();\nvar rate = parseFloat(global.get(pump + \"_rate\")) || 1;\nvar amt =  parseFloat(global.get(pump + \"_amt\")) || 1;\nsecs = Math.round(amt / rate * 1000);\nmsg.pump=pump;\nmsg.payload = rate;\nmsg.secs = secs;\nflow.set(\"secs\", secs);\nmsg.amt = amt;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":260,"wires":[["d73edab7.19fcc8","6cd193ed.4d79ac","e6a1f4bb.e18f08"]]},{"id":"f1d44d52.44667","type":"comment","z":"41376853.feabd8","name":"Select which pump to calibrate","info":"","x":170,"y":180,"wires":[]},{"id":"6cd193ed.4d79ac","type":"change","z":"41376853.feabd8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"amt","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":320,"wires":[["66c5aaa6.ceede4","36972a1.85c9fd6"]]},{"id":"c125037.ac708","type":"catch","z":"41376853.feabd8","name":"","scope":null,"x":110,"y":30,"wires":[["d1baa1eb.f1735"]]},{"id":"d1baa1eb.f1735","type":"debug","z":"41376853.feabd8","name":"","active":true,"console":"false","complete":"true","x":300,"y":30,"wires":[]},{"id":"e6a1f4bb.e18f08","type":"debug","z":"41376853.feabd8","name":"","active":false,"console":"false","complete":"true","x":570,"y":200,"wires":[]},{"id":"36972a1.85c9fd6","type":"debug","z":"41376853.feabd8","name":"","active":false,"console":"false","complete":"true","x":850,"y":360,"wires":[]},{"id":"78be656a.59ddac","type":"debug","z":"41376853.feabd8","name":"","active":false,"console":"false","complete":"true","x":370,"y":200,"wires":[]},{"id":"64fef4f0.f8ef9c","type":"mqtt out","z":"f9ddf01d.16b93","name":"relays/input/+","topic":"","qos":"","retain":"","broker":"72ea5e22.d0c31","x":1140,"y":1460,"wires":[]},{"id":"f575ba58.1c5c68","type":"json","z":"f9ddf01d.16b93","name":"","property":"pb","action":"","pretty":false,"x":458.99986457824707,"y":1462.9997997283936,"wires":[["38c30072.d2a8f"]]},{"id":"73e30247.8ac42c","type":"comment","z":"f9ddf01d.16b93","name":"Dashboard Buttons ","info":"","x":264.99986457824707,"y":1414.9997997283936,"wires":[]},{"id":"38c30072.d2a8f","type":"debug","z":"f9ddf01d.16b93","name":"","active":false,"console":"false","complete":"true","x":550,"y":1540,"wires":[]},{"id":"88376c20.c92b9","type":"debug","z":"f9ddf01d.16b93","name":"","active":true,"console":"false","complete":"true","x":1090,"y":1540,"wires":[]},{"id":"b20fe38b.fdc49","type":"rbe","z":"f9ddf01d.16b93","name":"","func":"rbe","gap":"","start":"","inout":"out","x":310,"y":1640,"wires":[["f575ba58.1c5c68"]]},{"id":"bc076b01.f9cdb8","type":"inject","z":"f9ddf01d.16b93","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":240,"y":1180,"wires":[["ddc803f0.79ff8"]]},{"id":"ddc803f0.79ff8","type":"function","z":"f9ddf01d.16b93","name":"Dump Global","func":"var global = this.context.global;\nvar pb = global.devices;\nfor (var key in pb) {\n        if (pb.hasOwnProperty(key)) {\n        var str =  '0' + pb[key].channel.toString();   \n        var res = str.substring(str.length-2,3);\n        pb[key].socket =res;\n    }\n}\nglobal.set(\"pb\", pb);\nmsg.payload = pb;\nmsg.pb = pb;\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":1180,"wires":[["268e4bed.737184","f575ba58.1c5c68"]]},{"id":"268e4bed.737184","type":"debug","z":"f9ddf01d.16b93","name":"","active":false,"console":"false","complete":"false","x":830,"y":1160,"wires":[]},{"id":"db49092c.2b6828","type":"inject","z":"f9ddf01d.16b93","name":"","topic":"name/pb1","payload":"160","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":220,"y":1240,"wires":[["ebe0348f.991eb8"]]},{"id":"ebe0348f.991eb8","type":"function","z":"f9ddf01d.16b93","name":"Delete a Global Var","func":"//delete this.context.global.cfg;\n\n\nvar numbers = [4, 9, 16, 25];\nvar global = this.context.global;\n//this.context.global\n//numbers.forEach(myFunction);\nvar fLen = global.length;\nmsg.item = 1;\n/*\nfor (i = 0; i < fLen; i++) {\n       if (this.context.global[i].substring(1,3) === \"cfg\"){\n        this.context.global.splice(i, 1);\n    }\n}\n\nfunction myFunction(value, index, array) {\n    if (value === \"myarray\"){\n        array.splice(index, 1);\n    }\n}\n*/\n\nfor (var prop in global) {\n    var p = prop.toString();\n     if (p.substring(0,2) === \"pc\"){\n          delete this.context.global[p];\n     }\n}\n\n\nmsg.payload = numbers;\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":1240,"wires":[["85c31b18.1877b8"]]},{"id":"85c31b18.1877b8","type":"debug","z":"f9ddf01d.16b93","name":"","active":false,"console":"false","complete":"true","x":600,"y":1240,"wires":[]},{"id":"703868ce.d02ad8","type":"debug","z":"f9ddf01d.16b93","name":"","active":false,"console":"false","complete":"true","x":867,"y":1328,"wires":[]},{"id":"b51d2646.f10ec8","type":"mqtt in","z":"f9ddf01d.16b93","name":"","topic":"relays/state","qos":"2","broker":"72ea5e22.d0c31","x":160,"y":1500,"wires":[["f575ba58.1c5c68"]]},{"id":"b6f711cd.845b8","type":"ui_dropdown","z":"41376853.feabd8","name":"Dosing Pump","label":"Dosing Pump","tooltip":"","place":"","group":"bb6e7b5c.4a1b28","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"Macro","value":"Macro","type":"str"},{"label":"Micro","value":"Micro","type":"str"},{"label":"GH","value":"GH","type":"str"},{"label":"ALK","value":"ALK","type":"str"},{"label":"Drain","value":"Drain","type":"str"}],"payload":"","topic":"pumpName","x":140,"y":260,"wires":[["51e65122.fa056","78be656a.59ddac"]]},{"id":"7eb958fa.c12b08","type":"ui_text_input","z":"dcde7d45.f1db5","name":"cfg/wl/offset","label":"Water Level Offset","group":"16d14e11.5259e2","order":3,"width":"3","height":"1","passthru":false,"mode":"text","delay":"0","topic":"cfg/wl/offset","x":395,"y":280,"wires":[["db1c6b14.29f328"]]},{"id":"c2aa0ceb.713f","type":"ui_text_input","z":"dcde7d45.f1db5","name":"cfg/temp/set","label":"Temp Set","tooltip":"","group":"d6978321.fa92c","order":0,"width":"3","height":"1","passthru":false,"mode":"text","delay":"0","topic":"cfg/temp/set","x":395,"y":160,"wires":[["db1c6b14.29f328"]]},{"id":"f632393a.b9ec18","type":"ui_text_input","z":"dcde7d45.f1db5","name":"cfg/wl/min","label":"Min Water Level","tooltip":"","group":"16d14e11.5259e2","order":1,"width":"3","height":"1","passthru":false,"mode":"text","delay":"0","topic":"cfg/wl/min","x":385,"y":200,"wires":[["db1c6b14.29f328"]]},{"id":"3bb442b7.633cce","type":"ui_text_input","z":"dcde7d45.f1db5","name":"cfg/wl/max","label":"Max Water Level","group":"16d14e11.5259e2","order":2,"width":"3","height":"1","passthru":false,"mode":"text","delay":"0","topic":"cfg/wl/max","x":395,"y":240,"wires":[["db1c6b14.29f328"]]},{"id":"cb85ea2e.2fa098","type":"ui_text_input","z":"dcde7d45.f1db5","name":"cfg/wl/filtermin","label":"Filter Minimum","group":"16d14e11.5259e2","order":4,"width":"3","height":"1","passthru":false,"mode":"text","delay":"0","topic":"cfg/wl/filtermin","x":405,"y":320,"wires":[["db1c6b14.29f328"]]},{"id":"c49829ec.6e1918","type":"ui_text_input","z":"dcde7d45.f1db5","name":"cfg/dose/macro/amt","label":"Macro Amt (ml)","tooltip":"","group":"691535d0.7783bc","order":1,"width":"3","height":"1","passthru":false,"mode":"text","delay":"0","topic":"cfg/dose/macro/amt","x":415,"y":400,"wires":[["db1c6b14.29f328"]]},{"id":"f8cb6b90.6fe198","type":"ui_text_input","z":"dcde7d45.f1db5","name":"cfg/dose/macro/rate","label":"Macro Rate (ml/s)","group":"691535d0.7783bc","order":4,"width":"3","height":"1","passthru":false,"mode":"text","delay":"0","topic":"cfg/dose/macro/rate","x":415,"y":440,"wires":[["db1c6b14.29f328"]]},{"id":"a170dd52.4dfe7","type":"ui_text_input","z":"dcde7d45.f1db5","name":"cfg/dose/micro/rate","label":"Micro Rate (ml/s)","group":"691535d0.7783bc","order":2,"width":"3","height":"1","passthru":true,"mode":"text","delay":"0","topic":"cfg/dose/micro/rate","x":415,"y":480,"wires":[["db1c6b14.29f328"]]},{"id":"47f46840.b721d8","type":"ui_text_input","z":"dcde7d45.f1db5","name":"cfg/dose/micro/amt","label":"Micro Amt (ml)","group":"691535d0.7783bc","order":3,"width":"3","height":"1","passthru":true,"mode":"text","delay":"0","topic":"cfg/dose/micro/amt","x":415,"y":520,"wires":[["db1c6b14.29f328"]]},{"id":"f69a0c52.86065","type":"ui_text_input","z":"dcde7d45.f1db5","name":"cfg/dose/gh/amt","label":"GH Amt (ml)","group":"691535d0.7783bc","order":5,"width":"3","height":"1","passthru":false,"mode":"text","delay":"0","topic":"cfg/dose/gh/amt","x":405,"y":560,"wires":[["db1c6b14.29f328"]]},{"id":"4ba9f52a.903bfc","type":"ui_text_input","z":"dcde7d45.f1db5","name":"cfg/dose/gh/rate","label":"GH Rate (ml)","group":"691535d0.7783bc","order":6,"width":"3","height":"1","passthru":false,"mode":"text","delay":"0","topic":"cfg/dose/gh/rate","x":405,"y":600,"wires":[["db1c6b14.29f328"]]},{"id":"3731344e.67197c","type":"ui_text_input","z":"dcde7d45.f1db5","name":"cfg/dose/alk/rate","label":"ALK Rate (ml/s)","group":"691535d0.7783bc","order":8,"width":"3","height":"1","passthru":false,"mode":"text","delay":"0","topic":"cfg/dose/alk/rate","x":405,"y":640,"wires":[["db1c6b14.29f328"]]},{"id":"bdc7d1a2.21ab7","type":"ui_text_input","z":"dcde7d45.f1db5","name":"cfg/dose/alk/amt","label":"ALK Amt (ml)","group":"691535d0.7783bc","order":7,"width":"3","height":"1","passthru":false,"mode":"text","delay":"0","topic":"cfg/dose/alk/amt","x":405,"y":680,"wires":[["db1c6b14.29f328"]]},{"id":"e1269cd0.6fe01","type":"ui_text_input","z":"f9ddf01d.16b93","name":"Socket 1","label":"Socket 1","group":"f0d32086.c14","order":1,"width":"3","height":"1","passthru":false,"mode":"text","delay":"0","topic":"pb/1/name","x":820,"y":180,"wires":[["89f1337c.f9693"]]},{"id":"a6511e2f.ef261","type":"ui_text_input","z":"f9ddf01d.16b93","name":"Socket 2","label":"Socket 2","group":"f0d32086.c14","order":2,"width":"3","height":"1","passthru":false,"mode":"text","delay":"0","topic":"pb/2/name","x":820,"y":220,"wires":[["89f1337c.f9693"]]},{"id":"19a8cda4.f66022","type":"ui_text_input","z":"f9ddf01d.16b93","name":"Socket 3","label":"Socket 3","group":"f0d32086.c14","order":3,"width":"3","height":"1","passthru":false,"mode":"text","delay":"0","topic":"pb/3/name","x":820,"y":260,"wires":[["89f1337c.f9693"]]},{"id":"9b928ede.a19dd","type":"ui_text_input","z":"f9ddf01d.16b93","name":"Socket 4","label":"Socket 4","group":"f0d32086.c14","order":4,"width":"3","height":"1","passthru":false,"mode":"text","delay":"0","topic":"pb/4/name","x":820,"y":300,"wires":[["89f1337c.f9693"]]},{"id":"8442d620.9e8518","type":"ui_text_input","z":"f9ddf01d.16b93","name":"Socket 5","label":"Socket 5","tooltip":"","group":"f0d32086.c14","order":5,"width":"3","height":"1","passthru":false,"mode":"text","delay":"0","topic":"pb/5/name","x":820,"y":340,"wires":[["89f1337c.f9693"]]},{"id":"b1057c88.2af4c","type":"ui_text_input","z":"f9ddf01d.16b93","name":"Socket 6","label":"Socket 6","group":"f0d32086.c14","order":6,"width":"3","height":"1","passthru":false,"mode":"text","delay":"0","topic":"pb/6/name","x":820,"y":380,"wires":[["89f1337c.f9693"]]},{"id":"953d1487.0c3518","type":"ui_text_input","z":"f9ddf01d.16b93","name":"Socket 7","label":"Socket 7","group":"f0d32086.c14","order":7,"width":"3","height":"1","passthru":false,"mode":"text","delay":"0","topic":"pb/7/name","x":820,"y":420,"wires":[["89f1337c.f9693"]]},{"id":"55cd7323.4c995c","type":"ui_text_input","z":"f9ddf01d.16b93","name":"Socket 8","label":"Socket 8","group":"f0d32086.c14","order":8,"width":"3","height":"1","passthru":false,"mode":"text","delay":"0","topic":"pb/8/name","x":820,"y":460,"wires":[["89f1337c.f9693"]]},{"id":"66c5aaa6.ceede4","type":"ui_text_input","z":"41376853.feabd8","name":"","label":"mL Required","tooltip":"","group":"bb6e7b5c.4a1b28","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":"500","topic":"","x":850,"y":300,"wires":[[]]},{"id":"d78235f1.bdc638","type":"ui_button","z":"1044d52f.831e8b","name":"","group":"5f8932d4.ed637c","order":6,"width":0,"height":0,"passthru":false,"label":"Reboot","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":266,"y":1342,"wires":[["e7532e31.36e97"]]},{"id":"cf1e7f59.8fd46","type":"ui_button","z":"1044d52f.831e8b","name":"","group":"5f8932d4.ed637c","order":7,"width":0,"height":0,"passthru":false,"label":"Clear Cache","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":246,"y":1482,"wires":[["4d0f0690.c56358"]]},{"id":"ad468ddb.ca295","type":"ui_button","z":"41376853.feabd8","name":"","group":"bb6e7b5c.4a1b28","order":4,"width":0,"height":0,"passthru":false,"label":"Dose This Amount","tooltip":"","color":"","bgcolor":"","icon":"","payload":"on","payloadType":"str","topic":"","x":150,"y":440,"wires":[["dc0fc24.9df914"]]},{"id":"6e7d7980.90e0b8","type":"ui_switch","z":"f9ddf01d.16b93","name":"Socket 01","label":"{{msg.txt}} 01 - {{msg.name}}","group":"5dc5be55.a8f18","order":2,"width":"0","height":"0","passthru":false,"decouple":"false","topic":"pb/1/val","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":821,"y":528,"wires":[["45e12421.784c6c"]]},{"id":"2b03d12d.24005e","type":"ui_switch","z":"f9ddf01d.16b93","name":"Socket 2","label":"{{msg.txt}} 02 - {{msg.name}}","group":"5dc5be55.a8f18","order":3,"width":"0","height":"0","passthru":false,"decouple":"false","topic":"pb/2/val","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":821,"y":568,"wires":[["45e12421.784c6c"]]},{"id":"fbe335b2.ad6868","type":"ui_switch","z":"f9ddf01d.16b93","name":"Socket 04","label":"{{msg.txt}} 04 - {{msg.name}}","group":"5dc5be55.a8f18","order":5,"width":"0","height":"0","passthru":false,"decouple":"false","topic":"pb/4/val","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":821,"y":648,"wires":[["45e12421.784c6c"]]},{"id":"8428a786.7d2e78","type":"ui_switch","z":"f9ddf01d.16b93","name":"Socket 03","label":"{{msg.txt}} 03 - {{msg.name}}","group":"5dc5be55.a8f18","order":4,"width":"0","height":"0","passthru":false,"decouple":"false","topic":"pb/3/val","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":821,"y":608,"wires":[["45e12421.784c6c"]]},{"id":"948633ce.f5bb1","type":"ui_text","z":"1044d52f.831e8b","group":"cfbd1dd4.686fb","order":2,"width":"0","height":"0","name":"","label":"Total Memory","format":"{{msg.payload}}","layout":"row-spread","x":435,"y":768,"wires":[]},{"id":"1de7353e.d396cb","type":"ui_text","z":"1044d52f.831e8b","group":"cfbd1dd4.686fb","order":3,"width":"0","height":"0","name":"","label":"Free Memory","format":"{{msg.payload}}","layout":"row-spread","x":439,"y":811,"wires":[]},{"id":"bdd22d9f.112b7","type":"ui_text","z":"1044d52f.831e8b","group":"5f8932d4.ed637c","order":1,"width":"0","height":"0","name":"","label":"Uptime","format":"{{msg.payload}}","layout":"row-spread","x":697,"y":374,"wires":[]},{"id":"7bbda4fe.b8c6fc","type":"ui_text","z":"1044d52f.831e8b","group":"5f8932d4.ed637c","order":3,"width":"0","height":"0","name":"","label":"Hostname","format":"{{msg.payload}}","layout":"row-spread","x":709,"y":414,"wires":[]},{"id":"88d3bc7.daa144","type":"ui_text","z":"1044d52f.831e8b","group":"5f8932d4.ed637c","order":5,"width":0,"height":0,"name":"Actions Title","label":" ","format":"Actions","layout":"row-left","x":306,"y":1562,"wires":[]},{"id":"9ad5f747.9656a8","type":"ui_text","z":"1044d52f.831e8b","group":"5f8932d4.ed637c","order":2,"width":"2","height":"2","name":"CPU","label":"<font size='5'>CPU</font>","format":"<font size='4' color={{msg.color}}>{{msg.payload}}&deg; F</font>","layout":"col-center","x":1106,"y":1022,"wires":[]},{"id":"ba3a5fda.438c8","type":"ui_text","z":"1044d52f.831e8b","group":"fab54156.2d73e","order":4,"width":"2","height":"2","name":"Uptime - Dashboard","label":"<font size='5'>Uptime</font>","format":"<font size='4' color={{msg.color}}>{{msg.payload}}</font>","layout":"col-center","x":734.0235481262207,"y":327.0391149520874,"wires":[]},{"id":"d73edab7.19fcc8","type":"ui_text","z":"41376853.feabd8","group":"bb6e7b5c.4a1b28","order":2,"width":0,"height":0,"name":"","label":"Old Rate","format":"{{msg.payload}} ml/s","layout":"row-left","x":580,"y":260,"wires":[]},{"id":"4a12db17.6bc304","type":"ui_gauge","z":"1044d52f.831e8b","name":"CPU Load 1","group":"6dc1a038.a0702","order":1,"width":"0","height":"0","gtype":"gage","title":"1 Minute","label":"Load (%)","format":"{{value | number:2}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":646,"y":122,"wires":[]},{"id":"a37c9c1c.80eea","type":"ui_gauge","z":"1044d52f.831e8b","name":"Memory Usage","group":"cfbd1dd4.686fb","order":1,"width":"0","height":"0","gtype":"gage","title":"1 Minute","label":"Usage (%)","format":"{{value | number:2}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":436,"y":725,"wires":[]},{"id":"3d571224.bf1afe","type":"ui_gauge","z":"1044d52f.831e8b","name":"Guage: CPU Temperature","group":"40b1d483.c6e9ec","order":1,"width":0,"height":0,"gtype":"gage","title":"CPU Temperature [°F]","label":"°F","format":"{{value}}","min":"0","max":"200","colors":["#00b500","#e6e600","#f90404"],"seg1":"","seg2":"","x":1046,"y":1262,"wires":[]},{"id":"4d0f0690.c56358","type":"ui_toast","z":"1044d52f.831e8b","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":456,"y":1482,"wires":[]},{"id":"b2dee815.d757d8","type":"ui_template","z":"1044d52f.831e8b","group":"5f8932d4.ed637c","name":"","order":8,"width":"6","height":"4","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1060,"y":1640,"wires":[[]]},{"id":"c880d760.582c38","type":"mqtt in","z":"a203440a.3c5b78","name":"","topic":"Sensor\\TankTemp","qos":"2","broker":"a17a229d.02d25","x":170,"y":210,"wires":[["25351e63.1cb442"]]},{"id":"25351e63.1cb442","type":"function","z":"a203440a.3c5b78","name":"qwer","func":"var origPayload = parseFloat(msg.payload);\n\nmsg.payload = [{\n    value: origPayload,\n},\n{\n    sensor:\"temperature\",\n    type:\"tank\"\n}];\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":210,"wires":[["98a49513.d62968"]]},{"id":"55728b43.dbb004","type":"mqtt in","z":"a203440a.3c5b78","name":"","topic":"Sensor/WaterLevel","qos":"2","broker":"a17a229d.02d25","x":170,"y":160,"wires":[["fabceafa.664a18"]]},{"id":"fabceafa.664a18","type":"function","z":"a203440a.3c5b78","name":"asdf","func":"var origPayload = parseInt(msg.payload);\n  \nmsg.payload = [{\n    value: origPayload,\n},\n{\n    sensor:\"waterLevel\",\n    type:\"range\"\n}];\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":160,"wires":[["98a49513.d62968"]]},{"id":"1f3e61c3.22dbce","type":"catch","z":"a203440a.3c5b78","name":"","scope":null,"x":100,"y":60,"wires":[["adee26d.9cad2d8"]]},{"id":"adee26d.9cad2d8","type":"debug","z":"a203440a.3c5b78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":350,"y":60,"wires":[]},{"id":"438495a8.dd745c","type":"influxdb out","z":"a203440a.3c5b78","influxdb":"b72cd584.69f598","name":"","measurement":"SensorReadings","precision":"","retentionPolicy":"","x":1010,"y":310,"wires":[]},{"id":"b7ed424e.03a4a","type":"function","z":"a203440a.3c5b78","name":"","func":"var origPayload = parseInt(msg.payload);\n\nmsg.payload = [{\n    value: origPayload,\n},\n{\n    sensor:\"ec\",\n    type:\"smooth\"\n}];\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":260,"wires":[["98a49513.d62968"]]},{"id":"53cbf601.ad70e8","type":"mqtt in","z":"a203440a.3c5b78","name":"","topic":"Sensor/EC","qos":"2","broker":"a17a229d.02d25","x":140,"y":260,"wires":[["8b1e3378.c230c"]]},{"id":"231432d8.ee8e2e","type":"mqtt in","z":"a203440a.3c5b78","name":"","topic":"Sensor/PH","qos":"2","broker":"a17a229d.02d25","x":140,"y":310,"wires":[["fba2740b.c22078"]]},{"id":"fba2740b.c22078","type":"function","z":"a203440a.3c5b78","name":"","func":"var origPayload = parseFloat(msg.payload);\n\nmsg.payload = [{\n    value: origPayload,\n},\n{\n    sensor:\"ph\",\n    type:\"smooth\"\n}];\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":310,"wires":[["98a49513.d62968"]]},{"id":"8709f730.1c46d8","type":"function","z":"a203440a.3c5b78","name":"Influxdb tags","func":"var devices = global.get('devices') || {};\nvar device = devices[msg.topic.split('/')[2]];\nmsg.measurement = \"relays\";\nvar origpayload = parseInt(msg.payload === 'on' ? 1 : 0) ;\nmsg.device = device;\nmsg.payload = [{\n    value: origpayload,\n},\n{\n    relay:\"sain8\",\n    number: device.channel,\n    name: device.name,\n    mode: device.mode\n}];\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":370,"wires":[["98a49513.d62968"]]},{"id":"c6b1d927.d764b8","type":"mqtt in","z":"a203440a.3c5b78","name":"","topic":"relays/input/+","qos":"2","broker":"a17a229d.02d25","x":150,"y":370,"wires":[["8709f730.1c46d8"]]},{"id":"a332f919.df8b78","type":"ui_dropdown","z":"762f7507.8a238c","name":"Test Readings","label":"Test ","tooltip":"","place":"Select option","group":"47040f96.2f31a","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"GH","value":"GH","type":"str"},{"label":"KH","value":"KH","type":"str"},{"label":"Nitrate","value":"NO3","type":"str"},{"label":"Nitrite","value":"NO2","type":"str"},{"label":"Amonia","value":"AM","type":"str"},{"label":"pH","value":"pH","type":"str"},{"label":"PO4","value":"PO4","type":"str"},{"label":"ORP","value":"ORP","type":"str"},{"label":"Ca","value":"Ca","type":"str"},{"label":"Mg","value":"Mg","type":"str"},{"label":"Iron","value":"Iron","type":"str"}],"payload":"","topic":"test","x":320,"y":120,"wires":[["7834dce4.d97cf4"]]},{"id":"75b91f0d.003d5","type":"ui_text_input","z":"762f7507.8a238c","name":"Result","label":"Result","group":"47040f96.2f31a","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"result","x":300,"y":170,"wires":[["7834dce4.d97cf4"]]},{"id":"99ef2ab7.c742c8","type":"ui_button","z":"762f7507.8a238c","name":"","group":"47040f96.2f31a","order":3,"width":0,"height":0,"passthru":false,"label":"Save","color":"","bgcolor":"","icon":"fa-power-off","payload":"","payloadType":"num","topic":"save","x":290,"y":220,"wires":[["7834dce4.d97cf4"]]},{"id":"7834dce4.d97cf4","type":"function","z":"762f7507.8a238c","name":"","func":"var test = context.get('test') || '';\nvar result = context.get('result') || 0;\n\n\nif (msg.topic === 'result')\n{\n    result = parseInt(msg.payload);\n    context.set('result', result);\n}\nif (msg.topic === 'test')\n{\n    test = msg.payload;\n    context.set('test', test);\n}\n\nif (msg.topic === 'save')\n{\n      msg.payload = [{\n        value: result\n    },\n    {\n        test: test,\n        measurement: 'ManualReadings'\n    }];\n    node.send(msg);\n}","outputs":1,"noerr":0,"x":599,"y":198,"wires":[["67e536d1.593dd8","d9befc0.5e7d308"]]},{"id":"67e536d1.593dd8","type":"influxdb out","z":"762f7507.8a238c","influxdb":"b72cd584.69f598","name":"ManualReadings","measurement":"ManualReadings","precision":"","retentionPolicy":"","x":815,"y":193,"wires":[]},{"id":"d9befc0.5e7d308","type":"debug","z":"762f7507.8a238c","name":"","active":false,"console":"false","complete":"true","x":844,"y":251,"wires":[]},{"id":"d6ac10a0.2aa2d","type":"ui_switch","z":"f9ddf01d.16b93","name":"Socket 05","label":"{{msg.txt}} 05 - {{msg.name}}","group":"5dc5be55.a8f18","order":6,"width":"0","height":"0","passthru":false,"decouple":"false","topic":"pb/5/val","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":821,"y":688,"wires":[["45e12421.784c6c"]]},{"id":"64fd2133.ba8cd","type":"ui_switch","z":"f9ddf01d.16b93","name":"Socket 06","label":"{{msg.txt}} 06 - {{msg.name}}","group":"5dc5be55.a8f18","order":7,"width":"0","height":"0","passthru":false,"decouple":"false","topic":"pb/6/val","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":821,"y":728,"wires":[["45e12421.784c6c"]]},{"id":"adac1344.05192","type":"ui_switch","z":"f9ddf01d.16b93","name":"Socket 07","label":"{{msg.txt}} 07 - {{msg.name}}","group":"5dc5be55.a8f18","order":8,"width":"0","height":"0","passthru":false,"decouple":"false","topic":"pb/7/val","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":821,"y":768,"wires":[["45e12421.784c6c"]]},{"id":"594ada16.2d4794","type":"ui_switch","z":"f9ddf01d.16b93","name":"Socket 08","label":"{{msg.txt}} 08 - {{msg.name}}","group":"5dc5be55.a8f18","order":9,"width":"0","height":"0","passthru":false,"decouple":"false","topic":"pb/8/val","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":821,"y":808,"wires":[["45e12421.784c6c"]]},{"id":"84551c98.20793","type":"function","z":"dcde7d45.f1db5","name":"Send cfg to Global","func":"var token = msg.topic;\nvar arr = token.split(\"/\");\nvar len = arr.length;\nvar item = arr[len-2] + \"_\" + arr[len-1];\n\nglobal.set(item, msg.payload);\n","outputs":1,"noerr":0,"x":970,"y":100,"wires":[["d809a27a.10fa2"]]},{"id":"d809a27a.10fa2","type":"debug","z":"dcde7d45.f1db5","name":"","active":false,"console":"false","complete":"true","x":1190,"y":100,"wires":[]},{"id":"bf45f5d5.ab97a8","type":"mqtt in","z":"dcde7d45.f1db5","name":"","topic":"cfg/#","qos":"2","broker":"72ea5e22.d0c31","x":770,"y":100,"wires":[["84551c98.20793","c87d67a2.f4aef8"]]},{"id":"b36654e6.e13858","type":"mqtt in","z":"afefe283.1962e","name":"","topic":"relays/input/T5","qos":"2","broker":"72ea5e22.d0c31","x":260,"y":940,"wires":[["18988269.8a269e"]]},{"id":"6c739fe8.b63d5","type":"switch","z":"afefe283.1962e","name":"","property":"channel","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"}],"checkall":"true","repair":false,"outputs":4,"x":450,"y":600,"wires":[["d6d6c6ae.11f928"],["25588fc.abd817"],["ce2042c5.761b9"],["969d765b.379338"]]},{"id":"3d9032e3.66865e","type":"change","z":"afefe283.1962e","name":"3","rules":[{"t":"set","p":"channel","pt":"msg","to":"3","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":660,"wires":[["6a3cc6c.fefc638","d906e3c3.d8327"]]},{"id":"6e6a21b3.b0999","type":"function","z":"afefe283.1962e","name":"","func":"msg.payload = Math.round(msg.payload,2);\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":120,"wires":[["be6fcf55.5fb6e"]]},{"id":"4821ea44.c825e4","type":"ui_slider","z":"afefe283.1962e","name":"All LEDs","label":"All LEDs","group":"29cbd71d.dc44b8","order":5,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"100","step":1,"x":459.4272232055664,"y":446.3813090324402,"wires":[["448d29d9.7942c8"]]},{"id":"cfc56e8.0b83d9","type":"mqtt in","z":"afefe283.1962e","name":"","topic":"relays/auto/T5","qos":"2","broker":"72ea5e22.d0c31","x":250,"y":900,"wires":[["4d8b99ef.8e4ce8"]]},{"id":"6a3cc6c.fefc638","type":"function","z":"afefe283.1962e","name":"InfluxDB Tags","func":"var origPayload = msg.payload;\nvar topic = msg.topic.split(\"/\");\nmsg.measurement = \"lights\";\nmsg.payload = [{\n    value: origPayload,\n},\n{\n    id:topic[1]\n}];\nreturn msg;","outputs":1,"noerr":0,"x":1280,"y":600,"wires":[["61dab2cd.d13aac"]]},{"id":"4d8b99ef.8e4ce8","type":"function","z":"afefe283.1962e","name":"","func":"msg.payload = msg.payload === \"auto\" ? \"resume\" : \"pause\";\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":900,"wires":[["18988269.8a269e","13a818f0.ae71a7"]]},{"id":"61dab2cd.d13aac","type":"influxdb out","z":"afefe283.1962e","influxdb":"b72cd584.69f598","name":"lights","measurement":"","precision":"","retentionPolicy":"","x":1390,"y":840,"wires":[]},{"id":"bc679f2e.7f00d","type":"ui_button","z":"afefe283.1962e","name":"","group":"29cbd71d.dc44b8","order":7,"width":"3","height":"1","passthru":false,"label":"All Off","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":192.4272108078003,"y":447.38128423690796,"wires":[["4821ea44.c825e4"]]},{"id":"be6fcf55.5fb6e","type":"ui_text","z":"afefe283.1962e","group":"3a7070c3.faf28","order":0,"width":0,"height":0,"name":"","label":"Curve Output","format":"{{msg.payload}}","layout":"row-spread","x":1480,"y":40,"wires":[]},{"id":"83f2cd06.f55b4","type":"debug","z":"afefe283.1962e","name":"","active":false,"console":"false","complete":"true","x":570,"y":250,"wires":[]},{"id":"eeb67b98.dea6c8","type":"ui_button","z":"afefe283.1962e","name":"","group":"e620ae25.1b9","order":2,"width":0,"height":0,"passthru":false,"label":"T5 ","color":"","bgcolor":"","icon":"","payload":"resume","payloadType":"str","topic":"","x":330,"y":1090,"wires":[["18988269.8a269e"]]},{"id":"20acbb4f.8a9f94","type":"function","z":"afefe283.1962e","name":"","func":"msg.payload = Math.round(msg.payload,2);\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":360,"wires":[["8bb38545.795f28","4821ea44.c825e4"]]},{"id":"8bb38545.795f28","type":"ui_text","z":"afefe283.1962e","group":"833ca5b5.fb4848","order":4,"width":"2","height":"2","name":"Light","label":"<font size='5'>LED</font>","format":"<font size='4' color='lime'>{{msg.payload}}%</font>","layout":"col-center","x":1130,"y":360,"wires":[]},{"id":"7b692be2.9e7244","type":"function","z":"afefe283.1962e","name":"Calc minutes ","func":"var msecPerMinute = 1000 * 60;  \nvar msecPerHour = msecPerMinute * 60;  \nvar msecPerDay = msecPerHour * 24;  \n\nvar date = new Date();  \nvar d = new Date();\nd.setHours(0, 0, 0, 0); \nvar interval = +date- +d;\n\n// Calculate the hours, minutes, and seconds.  \n//var hours = Math.floor(interval / msecPerHour );  \n//interval = interval - (hours * msecPerHour );  \n\n//var minutes = Math.floor(interval / msecPerMinute );  \n//interval = interval - (minutes * msecPerMinute );\n\nvar mins = date.getHours()*60 + date.getMinutes();\n\nmsg.payload = mins;\nreturn msg;","outputs":1,"noerr":0,"x":346.29978942871094,"y":152.86632537841797,"wires":[["b2e1d549.37c7c8","83f2cd06.f55b4"]]},{"id":"ce2042c5.761b9","type":"ui_slider","z":"afefe283.1962e","name":"pwm/led3","label":"LED 3","group":"29cbd71d.dc44b8","order":3,"width":0,"height":0,"passthru":true,"topic":"pwm/led3","min":0,"max":"100","step":1,"x":700,"y":620,"wires":[["5644f945.42a9f8"]]},{"id":"3b845228.2cd77e","type":"ui_text","z":"afefe283.1962e","group":"833ca5b5.fb4848","order":4,"width":"2","height":"2","name":"T5","label":"<font size='5'>T5</font>","format":"<font size='4' color={{msg.color === 'yellow' ? 'lime' : 'gray'}}>{{msg.payload}}</font>","layout":"col-center","x":1080,"y":1200,"wires":[]},{"id":"d8a5412d.453ba","type":"ui_text","z":"afefe283.1962e","group":"3a7070c3.faf28","order":0,"width":0,"height":0,"name":"","label":"Curve Input","format":"{{msg.payload}}","layout":"row-spread","x":849.9999847412109,"y":64.00001907348633,"wires":[]},{"id":"13a818f0.ae71a7","type":"debug","z":"afefe283.1962e","name":"","active":false,"console":"false","complete":"true","x":680,"y":1080,"wires":[]},{"id":"7d962a6e.510044","type":"inject","z":"afefe283.1962e","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":174.00002670288086,"y":152.99999856948853,"wires":[["7b692be2.9e7244"]]},{"id":"b1a88372.b29b7","type":"function","z":"afefe283.1962e","name":"Clip to 0 - 100","func":"var level = msg.payload;\nlevel = level * 15;\n\nif (level > 100)\n{\n    level = 100;\n}\nif (level < 2) {\n    level = 0;\n}\nmsg.payload = level;\nmsg.level = level;\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":280,"wires":[["e7e01e9e.22e44","20acbb4f.8a9f94","d9450154.3a8e1"]]},{"id":"5644f945.42a9f8","type":"change","z":"afefe283.1962e","name":"2","rules":[{"to":"2","p":"channel","t":"set","pt":"msg","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":620,"wires":[["6a3cc6c.fefc638"]]},{"id":"525532e9.04dcdc","type":"mqtt out","z":"afefe283.1962e","name":"T5 (1)","topic":"ESP/socket8/1","qos":"2","retain":"true","broker":"72ea5e22.d0c31","x":1150,"y":870,"wires":[]},{"id":"4cc0c6a6.d55e98","type":"mqtt out","z":"afefe283.1962e","name":"relays/input/T5","topic":"relays/input/T5","qos":"","retain":"","broker":"72ea5e22.d0c31","x":1070,"y":980,"wires":[]},{"id":"7d48f4fd.aefadc","type":"function","z":"afefe283.1962e","name":"","func":"msg.channel = 12;\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":980,"wires":[[]]},{"id":"448d29d9.7942c8","type":"function","z":"afefe283.1962e","name":"Split msgs","func":"//var level =  msg.level;\n//var dimlevel =  msg.level === 0 ? msg.level : msg.level - 10;\n\nmsg.channel = 0;\nmsg.topic = \"ESP/light/1\";\nnode.send(msg);\nmsg.channel = 1;\nmsg.topic = \"ESP/light/2\";\nnode.send(msg);\nmsg.channel = 2;\nmsg.topic = \"ESP/light/3\";\nnode.send(msg);\nmsg.channel = 3;\nmsg.topic = \"ESP/light/4\";\nnode.send(msg);\n","outputs":1,"noerr":0,"x":730,"y":440,"wires":[["6c739fe8.b63d5","22087fe8.9d889","e5641caa.eafa1"]]},{"id":"8bd12d80.3ada3","type":"function","z":"afefe283.1962e","name":"InfluxDB Tags","func":"var origPayload = msg.payload === 'on' ? 100 : 0;\nvar topic = msg.topic.split(\"/\");\nmsg.measurement = \"lights\";\nmsg.payload = [{\n    value: origPayload,\n},\n{\n    \n    id:\"T5\"\n}];\nreturn msg;","outputs":1,"noerr":0,"x":1019.0999221801758,"y":914.7998085021973,"wires":[["61dab2cd.d13aac"]]},{"id":"b2e1d549.37c7c8","type":"range","z":"afefe283.1962e","minin":"440","maxin":"1260","minout":"0","maxout":"3.1","action":"clamp","round":false,"name":"Range 9am-9pm by minutes","x":577.4998321533203,"y":153.19973993301392,"wires":[["ec46a023.dad67","d8a5412d.453ba"]]},{"id":"5fc6af6b.93edf","type":"function","z":"afefe283.1962e","name":"","func":"msg.color = msg.payload === \"on\" ? 'yellow' : 'gray';\nmsg.payload = msg.payload === \"on\" ? 'On' : 'Off';\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":1050,"wires":[["3b845228.2cd77e"]]},{"id":"f4428567.ea2588","type":"ui_button","z":"afefe283.1962e","name":"","group":"29cbd71d.dc44b8","order":6,"width":"3","height":"1","passthru":false,"label":"All On","color":"","bgcolor":"","icon":"","payload":"100","payloadType":"num","topic":"","x":140,"y":370,"wires":[["4821ea44.c825e4"]]},{"id":"e7e01e9e.22e44","type":"ui_chart","z":"afefe283.1962e","name":"","group":"3a7070c3.faf28","order":0,"width":"12","height":"6","label":"Curve Range","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"8","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1350,"y":260,"wires":[[],[]]},{"id":"24f1ef33.688c8","type":"inject","z":"afefe283.1962e","name":"","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":false,"x":1250,"y":160,"wires":[["e7e01e9e.22e44","be6fcf55.5fb6e"]]},{"id":"a38b78d5.420d58","type":"function","z":"afefe283.1962e","name":"ESP Msg","func":"msg.payload  = msg.payload === \"on\" ? 1 : 0;\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":870,"wires":[[]]},{"id":"25588fc.abd817","type":"ui_slider","z":"afefe283.1962e","name":"pwm/led2","label":"LED 2","group":"29cbd71d.dc44b8","order":2,"width":0,"height":0,"passthru":true,"topic":"pwm/led2","min":0,"max":"100","step":1,"x":700,"y":580,"wires":[["57cb8a4.ad45974"]]},{"id":"57cb8a4.ad45974","type":"change","z":"afefe283.1962e","name":"1","rules":[{"to":"1","p":"channel","t":"set","pt":"msg","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":580,"wires":[["6a3cc6c.fefc638"]]},{"id":"51920188.e63ff","type":"debug","z":"afefe283.1962e","name":"","active":false,"console":"false","complete":"true","x":290,"y":40,"wires":[]},{"id":"969d765b.379338","type":"ui_slider","z":"afefe283.1962e","name":"pwm/led4","label":"LED 4","group":"29cbd71d.dc44b8","order":4,"width":0,"height":0,"passthru":true,"topic":"pwm/led4","min":0,"max":"100","step":1,"x":700,"y":660,"wires":[["6581ef35.ee379"]]},{"id":"6581ef35.ee379","type":"change","z":"afefe283.1962e","name":"0","rules":[{"t":"set","p":"channel","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":540,"wires":[["6a3cc6c.fefc638"]]},{"id":"a55b6628.49af08","type":"inject","z":"afefe283.1962e","name":"","topic":"","payload":"resume","payloadType":"str","repeat":"","crontab":"","once":false,"x":250,"y":850,"wires":[["18988269.8a269e"]]},{"id":"d6d6c6ae.11f928","type":"ui_slider","z":"afefe283.1962e","name":"pwm/led1","label":"LED 1","group":"29cbd71d.dc44b8","order":1,"width":0,"height":0,"passthru":true,"topic":"pwm/led1","min":0,"max":"100","step":1,"x":700,"y":540,"wires":[["3d9032e3.66865e"]]},{"id":"ad8066c5.1e9568","type":"catch","z":"afefe283.1962e","name":"","scope":null,"x":84.0062255859375,"y":28.918746948242188,"wires":[["51920188.e63ff"]]},{"id":"d906e3c3.d8327","type":"debug","z":"afefe283.1962e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1190,"y":740,"wires":[]},{"id":"22087fe8.9d889","type":"debug","z":"afefe283.1962e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":970,"y":420,"wires":[]},{"id":"d9450154.3a8e1","type":"debug","z":"afefe283.1962e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1050,"y":320,"wires":[]},{"id":"18988269.8a269e","type":"timerswitch","z":"afefe283.1962e","name":"T5 Lights Schedule","ontopic":"relays/input/T5","offtopic":"relays/input/T5","onpayload":"on","offpayload":"off","disabled":false,"schedules":[{"off_s":"00","on_h":"09","on_s":"00","valid":true,"off_m":"00","off_h":"17","on_m":"30"}],"x":640,"y":900,"wires":[["5fc6af6b.93edf","8bd12d80.3ada3","a38b78d5.420d58","13a818f0.ae71a7","7d48f4fd.aefadc"]]},{"id":"ec46a023.dad67","type":"curve","z":"afefe283.1962e","fexpression":"4.5*sin(2x-1.5)+4.5","valuex":"payload","outputtype":"float","name":"4.5*sin(2x-1.5)+4.5","topic":"","x":830,"y":160,"wires":[["b1a88372.b29b7","6e6a21b3.b0999"]]},{"id":"32457287.cbc6de","type":"mqtt out","z":"a561ce96.8b15d","name":"","topic":"esp_light/toesp","qos":"2","retain":"false","broker":"72ea5e22.d0c31","x":560,"y":440,"wires":[]},{"id":"901c960e.85a588","type":"debug","z":"a561ce96.8b15d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":590,"y":320,"wires":[]},{"id":"afd1432e.4d07e","type":"mqtt in","z":"a561ce96.8b15d","name":"","topic":"esp_light/fromesp/auto_temperature","qos":"2","broker":"72ea5e22.d0c31","x":310,"y":640,"wires":[[]]},{"id":"73b06bfa.496c84","type":"debug","z":"a561ce96.8b15d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":869.0000228881836,"y":640.0000190734863,"wires":[]},{"id":"4a2f54b1.156d6c","type":"debug","z":"a561ce96.8b15d","name":"","active":false,"console":"false","complete":"true","x":930,"y":100,"wires":[]},{"id":"d7dda3e4.2a5b3","type":"mqtt in","z":"a561ce96.8b15d","name":"","topic":"ESP/light/+","qos":"2","broker":"72ea5e22.d0c31","x":760,"y":100,"wires":[["4a2f54b1.156d6c"]]},{"id":"b050ea36.5f75e8","type":"debug","z":"a561ce96.8b15d","name":"","active":false,"console":"false","complete":"true","x":900,"y":220,"wires":[]},{"id":"e0f9e231.088ee","type":"mqtt in","z":"a561ce96.8b15d","name":"","topic":"ESP/light/1","qos":"2","broker":"72ea5e22.d0c31","x":730,"y":220,"wires":[["b050ea36.5f75e8","412ce332.5bd94c"]]},{"id":"e5641caa.eafa1","type":"mqtt out","z":"afefe283.1962e","name":"ESP/light/#","topic":"","qos":"0","retain":"false","broker":"72ea5e22.d0c31","x":1270,"y":440,"wires":[]},{"id":"e14e9b06.4d3478","type":"mqtt in","z":"a561ce96.8b15d","name":"","topic":"esplogon","qos":"2","broker":"72ea5e22.d0c31","x":140,"y":180,"wires":[["600af77e.073a08","ef2c2b95.dbc128"]]},{"id":"4df785a3.fc1d6c","type":"mqtt out","z":"a561ce96.8b15d","name":"","topic":"","qos":"","retain":"","broker":"72ea5e22.d0c31","x":570,"y":160,"wires":[]},{"id":"2b7535f1.9d729a","type":"mqtt in","z":"a203440a.3c5b78","name":"","topic":"esp_light/fromesp/auto_humidity","qos":"2","broker":"72ea5e22.d0c31","x":210,"y":450,"wires":[[]]},{"id":"c303dd08.c8e9d","type":"function","z":"a203440a.3c5b78","name":"asdf","func":"var origPayload = parseInt(msg.payload);\nmsg.topic=\"Sensor/Air\";\n    \nmsg.payload = [{\n    value: origPayload,\n},\n{\n    sensor:\"humidity\",\n    type:\"esp\"\n}];\nreturn msg;","outputs":1,"noerr":0,"x":450.0000114440918,"y":447.00001335144043,"wires":[["98a49513.d62968"]]},{"id":"b5c78501.7949c8","type":"mqtt in","z":"a203440a.3c5b78","name":"","topic":"esp_light/fromesp/auto_temperature","qos":"2","broker":"72ea5e22.d0c31","x":220,"y":500,"wires":[[]]},{"id":"9a4bf6fc.6bbc18","type":"function","z":"a203440a.3c5b78","name":"asdf","func":"\n\n\nvar tempc = parseInt(msg.payload);\n    tempf = tempc * 9/5 + 32;\n    tempf = Math.round(tempf * 10) / 10;\n\n\nmsg.topic=\"Sensor/Air\";\n    \nmsg.payload = [{\n    value: tempf,\n},\n{\n    sensor:\"temperature\",\n    type:\"esp\"\n}];\nreturn msg;","outputs":1,"noerr":0,"x":452.0000114440918,"y":499.00001430511475,"wires":[["9f3e2eb0.e13ed","98a49513.d62968"]]},{"id":"9f3e2eb0.e13ed","type":"debug","z":"a203440a.3c5b78","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":664.0000190734863,"y":503.00001525878906,"wires":[]},{"id":"42f315e9.889cfc","type":"mqtt in","z":"a561ce96.8b15d","name":"","topic":"esp_light/fromesp/#","qos":"2","broker":"72ea5e22.d0c31","x":230,"y":700,"wires":[[]]},{"id":"b687a4f6.ebee98","type":"debug","z":"a561ce96.8b15d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":948.0000553131104,"y":756.0000200271606,"wires":[]},{"id":"77f99c7.2b66864","type":"inject","z":"a561ce96.8b15d","name":"","topic":"","payload":"{pca9685:64,0,1600}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":440,"wires":[["32457287.cbc6de"]]},{"id":"7066f3ee.87aa8c","type":"function","z":"a561ce96.8b15d","name":"","func":"var orig = msg.payload;\nmsg.payload = \"{pca9685:64,0xffff,\" + orig + \"}\";\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":340,"wires":[["901c960e.85a588","32457287.cbc6de"]]},{"id":"412ce332.5bd94c","type":"range","z":"a561ce96.8b15d","minin":"0","maxin":"100","minout":"4096","maxout":"0","action":"scale","round":true,"property":"payload","name":"","x":260,"y":340,"wires":[["7066f3ee.87aa8c"]]},{"id":"b2d40df6.b3dc9","type":"ui_chart","z":"bee4999d.d0f058","name":"","group":"bbb133fb.08ba","order":1,"width":"0","height":"0","label":"ml Remaining","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1500","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1420,"y":460,"wires":[["6cc5327a.ee359c"],[]]},{"id":"6cc5327a.ee359c","type":"debug","z":"bee4999d.d0f058","name":"","active":false,"console":"false","complete":"true","x":1421.0000381469727,"y":304.0000410079956,"wires":[]},{"id":"42a91b4b.462d14","type":"inject","z":"bee4999d.d0f058","name":"","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":false,"x":1190,"y":380,"wires":[["b2d40df6.b3dc9"]]},{"id":"46271b5.7d022e4","type":"mqtt out","z":"bee4999d.d0f058","name":"dose/container/+","topic":"","qos":"2","retain":"true","broker":"72ea5e22.d0c31","x":1269.0000381469727,"y":168.00003242492676,"wires":[]},{"id":"7893cb92.f7a954","type":"ui_text_input","z":"bee4999d.d0f058","name":"GH Total Remaining","label":"GH Total Remaining","group":"bbb133fb.08ba","order":8,"width":"3","height":"1","passthru":true,"mode":"text","delay":"0","topic":"dose/container/gh","x":555.9999237060547,"y":477.0000419616699,"wires":[["1d8fd418.a0ec7c","5c975e87.5c30b","c83d2714.caf258"]]},{"id":"1ccc6ed6.9f2e31","type":"mqtt in","z":"bee4999d.d0f058","name":"dose/container/+","topic":"dose/container/+","qos":"2","broker":"72ea5e22.d0c31","x":130.9999237060547,"y":463.0000419616699,"wires":[["f1f192ec.2ba39","850ac496.7b20d8"]]},{"id":"f1f192ec.2ba39","type":"switch","z":"bee4999d.d0f058","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"/macro","vt":"str"},{"t":"cont","v":"/micro","vt":"str"},{"t":"cont","v":"/gh","vt":"str"},{"t":"cont","v":"/alk","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":312.9998779296875,"y":467.0000648498535,"wires":[["9adeaee5.89a98"],["fd05abee.c55e28"],["7893cb92.f7a954"],["63d20b7f.59a164"]],"outputLabels":["macro","micro","gh",""]},{"id":"fd05abee.c55e28","type":"ui_text_input","z":"bee4999d.d0f058","name":"Micro Total Remaining","label":"Micro Total Remaining","tooltip":"","group":"bbb133fb.08ba","order":4,"width":"3","height":"1","passthru":true,"mode":"text","delay":"0","topic":"dose/container/micro","x":548.8124046325684,"y":440.8188133239746,"wires":[["1d8fd418.a0ec7c","5c975e87.5c30b","e2d84c35.95842"]]},{"id":"9adeaee5.89a98","type":"ui_text_input","z":"bee4999d.d0f058","name":"Macro Total Remaining","label":"Macro Total Remaining","tooltip":"","group":"bbb133fb.08ba","order":2,"width":"3","height":"1","passthru":true,"mode":"text","delay":"0","topic":"dose/container/macro","x":545.8123970031738,"y":398.8188405036926,"wires":[["1d8fd418.a0ec7c","5c975e87.5c30b","965cd755.641538"]]},{"id":"63d20b7f.59a164","type":"ui_text_input","z":"bee4999d.d0f058","name":"ALK Total Remaining","label":"ALK Total Remaining","group":"bbb133fb.08ba","order":6,"width":"3","height":"1","passthru":true,"mode":"text","delay":"0","topic":"dose/container/alk","x":551.812442779541,"y":516.0187759399414,"wires":[["1d8fd418.a0ec7c","5c975e87.5c30b","c47078b8.fdb8b8"]]},{"id":"850ac496.7b20d8","type":"debug","z":"bee4999d.d0f058","name":"","active":false,"console":"false","complete":"true","x":308.50622177124023,"y":524.6000423431396,"wires":[]},{"id":"1d8fd418.a0ec7c","type":"debug","z":"bee4999d.d0f058","name":"","active":false,"console":"false","complete":"true","x":910,"y":240,"wires":[]},{"id":"5c975e87.5c30b","type":"function","z":"bee4999d.d0f058","name":"Reset Container Contents","func":"\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":460,"wires":[["46271b5.7d022e4","48ee665a.1fc328","80514439.3e32c8"]]},{"id":"7ea0308d.2f17c","type":"ui_text_input","z":"bee4999d.d0f058","name":"GH Days Left","label":"GH Days Left","group":"bbb133fb.08ba","order":9,"width":"3","height":"1","passthru":true,"mode":"text","delay":"300","topic":"dose/container/gh","x":1280,"y":670,"wires":[[]]},{"id":"d7c444a6.3eb398","type":"ui_text_input","z":"bee4999d.d0f058","name":"Micro Days Left","label":"Micro Days Left","group":"bbb133fb.08ba","order":5,"width":"3","height":"1","passthru":true,"mode":"text","delay":"300","topic":"dose/container/micro","x":1280,"y":640,"wires":[[]]},{"id":"570f0204.08132c","type":"ui_text_input","z":"bee4999d.d0f058","name":"Macro Days Left","label":"Macro Days Left","group":"bbb133fb.08ba","order":3,"width":"3","height":"1","passthru":false,"mode":"text","delay":"300","topic":"dose/container/macro","x":1280,"y":610,"wires":[[]]},{"id":"7e7e35fc.2d83fc","type":"ui_text_input","z":"bee4999d.d0f058","name":"ALK Days Left","label":"ALK Days Left","group":"bbb133fb.08ba","order":7,"width":"3","height":"1","passthru":true,"mode":"text","delay":"300","topic":"dose/container/alk","x":1279,"y":700,"wires":[[]]},{"id":"965cd755.641538","type":"function","z":"bee4999d.d0f058","name":"","func":"var amt = global.get(\"macro_amt\") || 0;\nmsg.payload = Math.round(msg.payload / amt);\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":540,"wires":[["570f0204.08132c"]]},{"id":"e2d84c35.95842","type":"function","z":"bee4999d.d0f058","name":"","func":"var amt = global.get(\"micro_amt\") || 0;\nmsg.payload = Math.round(msg.payload / amt);\nreturn msg;","outputs":1,"noerr":0,"x":1020,"y":580,"wires":[["d7c444a6.3eb398"]]},{"id":"c83d2714.caf258","type":"function","z":"bee4999d.d0f058","name":"","func":"var amt = global.get(\"gh_amt\") || 0;\nmsg.payload = Math.round(msg.payload / amt);\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":620,"wires":[["7ea0308d.2f17c"]]},{"id":"c47078b8.fdb8b8","type":"function","z":"bee4999d.d0f058","name":"","func":"var amt = global.get(\"alk_amt\") || 0;\nmsg.payload = Math.round(msg.payload / amt);\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":660,"wires":[["7e7e35fc.2d83fc"]]},{"id":"74a64316.9bf76c","type":"comment","z":"bee4999d.d0f058","name":"Keep track of how much material is left","info":"","x":210,"y":280,"wires":[]},{"id":"5251e284.a4035c","type":"function","z":"41376853.feabd8","name":"Chart","func":"var gh = global.get('doseGH') || 1000;\nvar macro = global.get('doseMacro') || 1000;\nvar micro = global.get('doseMicro') || 1000;\nvar alk = global.get('doseAlk') || 1000;\n\nvar topic = msg.topic.split(\"\\/\")[2];\n\nif (topic == \"gh\")\n    {\n        gh = gh - 160;\n        global.set(\"doseGH\", gh);\n        msg.dose = 160;\n        msg.remainingdays = gh/160;\n        msg.payload = gh;\n       \n    }\nif (topic == \"macro\")\n    {\n        macro = macro - 15;\n        global.set(\"doseMacro\", macro);\n        msg.dose = 15;\n        msg.remainingdays = macro/15;\n        msg.payload = macro;\n    }\nif (topic == \"micro\")\n    {\n        micro = micro - 15;\n        global.set(\"doseMicro\", micro);\n        msg.dose = 15;\n        msg.remainingdays = micro/15;\n        msg.payload = micro;\n    }\nif (topic == \"alk\")\n    {\n        alk = alk - 15;\n        global.set(\"doseAlk\", alk);\n        msg.dose = 15;\n        msg.remainingdays = alk/15;\n        msg.payload = alk;\n    }    \n    \n\nmsg.topic = \"dose/container/\" + topic;\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1270,"y":620,"wires":[["1573998b.6a4e36","bf341879.76aac8"]]},{"id":"1573998b.6a4e36","type":"debug","z":"41376853.feabd8","name":"","active":false,"console":"false","complete":"true","x":1454.1874504089355,"y":564.9815664291382,"wires":[]},{"id":"3e0218fa.26c3e8","type":"switch","z":"41376853.feabd8","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"/macro","vt":"str"},{"t":"cont","v":"/micro","vt":"str"},{"t":"cont","v":"/gh","vt":"str"},{"t":"cont","v":"/alk","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":5,"x":1047.2070350646973,"y":622.9852075576782,"wires":[["5251e284.a4035c"],["5251e284.a4035c"],["5251e284.a4035c"],["5251e284.a4035c"],[]],"outputLabels":["macro","micro","gh","",""]},{"id":"63572a87.4b9cb4","type":"switch","z":"41376853.feabd8","name":"Off only","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":915.0742073059082,"y":623.5125494003296,"wires":[["3e0218fa.26c3e8"],[]]},{"id":"bf341879.76aac8","type":"mqtt out","z":"41376853.feabd8","name":"dose/container/+","topic":"","qos":"2","retain":"false","broker":"72ea5e22.d0c31","x":1450,"y":640,"wires":[]},{"id":"10eb58b9.2d3a37","type":"mqtt in","z":"41376853.feabd8","name":"","topic":"dose/container/+","qos":"2","broker":"72ea5e22.d0c31","x":1040,"y":720,"wires":[["900d8d88.18a94"]]},{"id":"900d8d88.18a94","type":"debug","z":"41376853.feabd8","name":"","active":false,"console":"false","complete":"true","x":1390,"y":720,"wires":[]},{"id":"46492549.b8c66c","type":"change","z":"8b03d247.f1303","name":"CHANGE","rules":[{"t":"set","p":"topic","pt":"msg","to":"NEXT","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":260,"wires":[["b5db098a.d54088"]]},{"id":"5de8327.36fbacc","type":"delay","z":"8b03d247.f1303","name":"Turn Off Delay","pauseType":"delayv","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":856.0005493164062,"y":393,"wires":[["46492549.b8c66c","dbb0de23.ef533"]]},{"id":"6d8c975.eaeaa68","type":"comment","z":"8b03d247.f1303","name":"Fert Cycle","info":"","x":153,"y":118.99999809265137,"wires":[]},{"id":"36b3a1a6.26c78e","type":"function","z":"8b03d247.f1303","name":"","func":"msg.payload = true;\nreturn msg;","outputs":1,"noerr":0,"x":280.99999237060547,"y":218.99999618530273,"wires":[["b5db098a.d54088"]]},{"id":"e553b3df.40212","type":"timerswitch","z":"8b03d247.f1303","name":"Fert Cycle","ontopic":"NEXT","offtopic":"HALT","onpayload":"true","offpayload":"true","disabled":true,"schedules":[{"on_h":"04","on_m":"03","on_s":"00","off_h":"04","off_m":"45","off_s":"30","valid":true}],"x":180.99999237060547,"y":158.99999618530273,"wires":[["36b3a1a6.26c78e"]]},{"id":"d9d1f994.2fced8","type":"function","z":"8b03d247.f1303","name":"Build Msg","func":"var orig = msg.payload;\nif ( !orig.startsWith(\"END\")  &&  !orig.startsWith(\"READY\")  )\n{\n    var newmsg = {};\n    var topic = msg.payload.toLowerCase().split(\"_\")[0];\n    var state = msg.payload.indexOf(\"entry\") > 0 ? 'on' : 'off' ;\n    newmsg.orig = msg.payload;\n    newmsg.topic = \"relays/input/\" + topic;\n    newmsg.payload = state;\n    var dt = new Date();\n    newmsg.time = dt.getSeconds() + \":\" + dt.getMilliseconds();\n    var secs =0; \n    var rate = global.get(topic+\"_rate\");\n    var amt =  global.get(topic+ \"_amt\");\n   \n    \n    if (state==\"on\")\n    {\n       secs = Math.round(amt / rate * 1000);\n    }\n    else\n    {\n        newmsg.reset = true;\n    }\n    newmsg.delay = secs;\n     \n    node.send(newmsg);\n}","outputs":1,"noerr":0,"x":572,"y":442.0000400543213,"wires":[["5de8327.36fbacc","f8f8301f.2de4f","107254ed.7763bb","ae93e83e.1de9b8"]]},{"id":"609c62c6.4c090c","type":"switch","z":"8b03d247.f1303","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"END_entry","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":452.0000114440918,"y":379.9999990463257,"wires":[["9a4d7fd4.b5935","46492549.b8c66c"],["d9d1f994.2fced8"]]},{"id":"9a4d7fd4.b5935","type":"change","z":"8b03d247.f1303","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"delay","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":615.9999847412109,"y":379.99999618530273,"wires":[["5de8327.36fbacc","b24ac31a.bfc7a"]]},{"id":"939bce42.124c1","type":"ui_button","z":"8b03d247.f1303","name":"","group":"a0e68307.6cfd8","order":3,"width":"3","height":"1","passthru":false,"label":"Manual STOP","color":"","bgcolor":"red","icon":"","payload":"true","payloadType":"bool","topic":"HALT","x":182.99999237060547,"y":338.99999618530273,"wires":[["b5db098a.d54088","199d34f6.1d42cb"]]},{"id":"b190eaad.7891c8","type":"inject","z":"8b03d247.f1303","name":"","topic":"NEXT","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":173.16666412353516,"y":289.86667251586914,"wires":[["b5db098a.d54088"]]},{"id":"af2f7fa7.35e1f","type":"mqtt out","z":"8b03d247.f1303","name":"dose/container/+","topic":"","qos":"2","retain":"true","broker":"72ea5e22.d0c31","x":1070,"y":620,"wires":[]},{"id":"53f6d950.1ddc88","type":"function","z":"8b03d247.f1303","name":"Chart","func":"var gh = global.get('doseGH') || 1000;\nvar macro = global.get('doseMacro') || 1000;\nvar micro = global.get('doseMicro') || 1000;\nvar alk = global.get('doseAlk') || 1000;\n\nvar topic = msg.topic.split(\"\\/\")[2];\nvar doseAmt = global.get(topic+\"_amt\")\n\nif (topic == \"gh\")\n    {\n        gh = gh - doseAmt;\n        global.set(\"doseGH\", gh);\n        msg.dose = doseAmt;\n        msg.remainingdays = gh/doseAmt;\n        msg.payload = gh;\n       \n    }\nif (topic == \"macro\")\n    {\n        macro = macro - doseAmt;\n        global.set(\"doseMacro\", macro);\n        msg.dose = doseAmt;\n        msg.remainingdays = macro/doseAmt;\n        msg.payload = macro;\n    }\nif (topic == \"micro\")\n    {\n        micro = micro - doseAmt;\n        global.set(\"doseMicro\", micro);\n        msg.dose = doseAmt;\n        msg.remainingdays = micro/doseAmt;\n        msg.payload = micro;\n    }\nif (topic == \"alk\")\n    {\n        alk = alk - doseAmt;\n        global.set(\"doseAlk\", alk);\n        msg.dose = doseAmt;\n        msg.remainingdays = alk/doseAmt;\n        msg.payload = alk;\n    }    \n    \n\nmsg.topic = \"dose/container/\" + topic;\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":890,"y":620,"wires":[["f35cd497.ff8298","af2f7fa7.35e1f"]]},{"id":"21ec3326.05f43c","type":"ui_button","z":"8b03d247.f1303","name":"","group":"a0e68307.6cfd8","order":4,"width":"3","height":"1","passthru":false,"label":"Manual Start","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"NEXT","x":130,"y":920,"wires":[["2b62ff26.acaa","28a31646.7417ba","8e14701e.9c5b3"]]},{"id":"107254ed.7763bb","type":"switch","z":"8b03d247.f1303","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"drain","vt":"str"},{"t":"cont","v":"gh","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":760.6338996887207,"y":502.7334613800049,"wires":[["6e3c0966.711df8"],["199d34f6.1d42cb"],["cbc1eb0d.0f3958"]]},{"id":"f8f8301f.2de4f","type":"debug","z":"8b03d247.f1303","name":"","active":false,"console":"false","complete":"true","x":780.9999542236328,"y":450.0000069141388,"wires":[]},{"id":"dbb0de23.ef533","type":"debug","z":"8b03d247.f1303","name":"","active":false,"console":"false","complete":"true","x":1045.999984741211,"y":399.99999618530273,"wires":[]},{"id":"6e3c0966.711df8","type":"function","z":"8b03d247.f1303","name":"Turn on Mixer","func":"var newmsg = {\"payload\": 'on'};\nnewmsg.topic = \"relays/input/mixer\"\nnode.send(newmsg);\nreturn msg;","outputs":1,"noerr":0,"x":935.6338310241699,"y":484.73342514038086,"wires":[["cbc1eb0d.0f3958"]]},{"id":"199d34f6.1d42cb","type":"function","z":"8b03d247.f1303","name":"Turn off Mixer","func":"var newmsg = {\"payload\": 'off'};\nnewmsg.topic = \"relays/input/mixer\"\nnode.send(newmsg);\nreturn msg;","outputs":1,"noerr":0,"x":955.9999847412109,"y":539.9999961853027,"wires":[["cbc1eb0d.0f3958"]]},{"id":"f35cd497.ff8298","type":"debug","z":"8b03d247.f1303","name":"","active":false,"console":"false","complete":"true","x":890,"y":680,"wires":[]},{"id":"2b62ff26.acaa","type":"debug","z":"8b03d247.f1303","name":"","active":false,"console":"false","complete":"true","x":430,"y":940,"wires":[]},{"id":"f7e0397f.90cfa8","type":"switch","z":"8b03d247.f1303","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"/macro","vt":"str"},{"t":"cont","v":"/micro","vt":"str"},{"t":"cont","v":"/gh","vt":"str"},{"t":"cont","v":"/alk","vt":"str"},{"t":"else"}],"checkall":"true","outputs":5,"x":730,"y":620,"wires":[["53f6d950.1ddc88"],["53f6d950.1ddc88"],["53f6d950.1ddc88"],["53f6d950.1ddc88"],[]],"outputLabels":["macro","micro","gh","",""]},{"id":"ae93e83e.1de9b8","type":"switch","z":"8b03d247.f1303","name":"Off only","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":580,"y":580,"wires":[["f7e0397f.90cfa8"],[]]},{"id":"dcf90f44.4635f","type":"debug","z":"8b03d247.f1303","name":"","active":false,"console":"false","complete":"true","x":440.02345275878906,"y":475.0391044616699,"wires":[]},{"id":"b5db098a.d54088","type":"FSM","z":"8b03d247.f1303","name":"Fert Dosing Cycle","topic":"FERTS","initstate":"READY","inittran":"NEXT","entry":true,"exit":true,"tran":false,"rules":[{"n":"DRAIN","c":"NEXT","s":"DRAIN","d":"MACRO","t":"true"},{"n":"READY","c":"NEXT","s":"READY","d":"DRAIN","t":"true"},{"n":"MACRO","c":"NEXT","s":"MACRO","d":"MICRO","t":"true"},{"n":"MICRO","c":"NEXT","s":"MICRO","d":"ALK","t":"true"},{"n":"ALK","c":"NEXT","s":"ALK","d":"GH","t":"true"},{"n":"GH","c":"NEXT","s":"GH","d":"END","t":"true"},{"n":"END","c":"NEXT","s":"END","d":"READY","t":"true"},{"n":"MACRO=>END","c":"HALT","s":"MACRO","d":"END","t":"true"},{"n":"MICRO->END","c":"HALT","s":"MICRO","d":"END","t":"true"},{"n":"MIXER=>END","c":"HALT","s":"MIXER","d":"END","t":"true"},{"n":"GH=>END","c":"HALT","s":"GH","d":"END","t":"true"},{"n":"ALK=>END","c":"HALT","s":"ALK","d":"END","t":"true"},{"n":"DRAIN=>END","c":"HALT","s":"DRAIN","d":"END","t":"true"}],"x":170,"y":480,"wires":[["dcf90f44.4635f","609c62c6.4c090c"]]},{"id":"90067483.4d1dd8","type":"inject","z":"a561ce96.8b15d","name":"","topic":"","payload":"{humidity?}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":520,"wires":[[]]},{"id":"600af77e.073a08","type":"esplogin","z":"a561ce96.8b15d","name":"esplogon","lat":"39.9568","lon":"-86.0134","start":"sunrise","end":"sunset","duskoff":"0","dawnoff":"0","x":368.00004959106445,"y":173.00002479553223,"wires":[["4df785a3.fc1d6c"],[],[],[],["502231fb.3792"]]},{"id":"29876bca.ea4864","type":"OS","z":"1044d52f.831e8b","name":"","x":370,"y":420,"wires":[["b84deecf.24068"]]},{"id":"83a1af5a.2222","type":"Uptime","z":"1044d52f.831e8b","name":"","x":381,"y":375,"wires":[["282e275a.5d3118"]]},{"id":"b389234f.fb883","type":"Loadavg","z":"1044d52f.831e8b","name":"","x":307,"y":187,"wires":[["bd30048b.0f5988","90412062.b9f52"]]},{"id":"e96e6996.dd55a8","type":"Memory","z":"1044d52f.831e8b","name":"","x":247,"y":553,"wires":[["e244b153.b6643","5685312b.271a3","13d740c6.6f92cf","92d28500.c79108"]]},{"id":"62c690eb.0b0a7","type":"debug","z":"c39fa444.1fa9f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":321,"y":73,"wires":[]},{"id":"fa4407d3.661288","type":"catch","z":"c39fa444.1fa9f8","name":"","scope":null,"x":169,"y":71,"wires":[["62c690eb.0b0a7"]]},{"id":"5924f59.c7fcd0c","type":"mqtt in","z":"c39fa444.1fa9f8","name":"","topic":"pb/+/name","qos":"2","broker":"72ea5e22.d0c31","x":148,"y":224,"wires":[["8b120610.d24e18"]]},{"id":"79d0972e.0a1908","type":"function","z":"c39fa444.1fa9f8","name":"Send to global","func":"global.set(msg.topic,msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1008,"y":204,"wires":[["2e9ec725.42b428"]]},{"id":"ec4358f5.530298","type":"switch","z":"c39fa444.1fa9f8","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"pb/21/name","vt":"str"},{"t":"eq","v":"pb/22/name","vt":"str"},{"t":"eq","v":"pb/23/name","vt":"str"},{"t":"eq","v":"pb/24/name","vt":"str"},{"t":"eq","v":"pb/25/name","vt":"str"},{"t":"eq","v":"pb/26/name","vt":"str"},{"t":"eq","v":"pb/27/name","vt":"str"},{"t":"eq","v":"pb/28/name","vt":"str"}],"checkall":"false","repair":false,"outputs":8,"x":578,"y":224,"wires":[["ee3b4866.f9dcf8"],["ababfec1.a867d"],["aa29ce98.37c51"],["9310a4f4.6e21d8"],["503e6d4b.7e6f64"],["b737a35d.71c"],["3b31a094.c4eea"],["e2620db0.c96e8"]]},{"id":"8b120610.d24e18","type":"function","z":"c39fa444.1fa9f8","name":"Send to global","func":"global.set(msg.topic,msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":368,"y":224,"wires":[["ec4358f5.530298"]]},{"id":"2e9ec725.42b428","type":"mqtt out","z":"c39fa444.1fa9f8","name":"","topic":"","qos":"2","retain":"true","broker":"72ea5e22.d0c31","x":1185,"y":200,"wires":[]},{"id":"6430707f.f1825","type":"mqtt out","z":"c39fa444.1fa9f8","name":"","topic":"","qos":"2","retain":"true","broker":"72ea5e22.d0c31","x":1169,"y":553,"wires":[]},{"id":"f41a2f85.15392","type":"mqtt in","z":"c39fa444.1fa9f8","name":"","topic":"pb/#","qos":"2","broker":"72ea5e22.d0c31","x":119,"y":572,"wires":[["62dd60af.68eab"]]},{"id":"62dd60af.68eab","type":"function","z":"c39fa444.1fa9f8","name":"","func":"var channel = msg.topic.split(\"/\")[1] || 0;\nvar val = context.get(\"val\" + channel) || \"off\";\nvar name = context.get(\"name\" + channel) || \"\";\n\nif (msg.topic.split(\"/\")[2] == \"name\"){\n    msg.name = msg.payload;\n    msg.payload = val;\n    context.set(\"name\" + channel, msg.name);\n    msg.txt = msg.payload == \"off\" ? '<i class=\"fa fa-power-off   nr-dashboard-error\"></i> ' : '<i class=\"fa fa-power-off  nr-dashboard-ok\"></i> ';\n    node.send(msg);\n}\nelse if (msg.topic.split(\"/\")[2] == \"val\"){\n    msg.name = name;\n    context.set(\"val\" + channel, msg.payload);\n    msg.txt = msg.payload == \"off\" ? '<i class=\"fa fa-power-off   nr-dashboard-error\"></i> ' : '<i class=\"fa fa-power-off  nr-dashboard-ok\"></i> ';\n    node.send(msg);\n}\n\n\n\n","outputs":1,"noerr":0,"x":359,"y":572,"wires":[["c74377d8.6a8ab8"]]},{"id":"c74377d8.6a8ab8","type":"switch","z":"c39fa444.1fa9f8","name":"Power Bar 2","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"pb/1/","vt":"str"},{"t":"cont","v":"pb/22/","vt":"str"},{"t":"cont","v":"pb/23/","vt":"str"},{"t":"cont","v":"pb/24/","vt":"str"},{"t":"cont","v":"pb/25/","vt":"str"},{"t":"cont","v":"pb/26/","vt":"str"},{"t":"cont","v":"pb/27/","vt":"str"},{"t":"cont","v":"pb/28/","vt":"str"}],"checkall":"false","repair":false,"outputs":8,"x":579,"y":572,"wires":[["e1fab616.924948"],["4fa2425f.c2d22c"],["1fce5c8f.aaf253"],["25957786.3fd6a8"],["32ca1561.a3ac5a"],["63da8a36.290a94"],["44806426.8a2b6c"],["dbc71807.913c28"]]},{"id":"fe16e1b1.da311","type":"function","z":"c39fa444.1fa9f8","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1019,"y":552,"wires":[["6430707f.f1825"]]},{"id":"ee3b4866.f9dcf8","type":"ui_text_input","z":"c39fa444.1fa9f8","name":"Socket 2-1","label":"Socket 2-1","group":"4aa126c0.fadea8","order":1,"width":"3","height":"1","passthru":false,"mode":"text","delay":"0","topic":"pb/21/name","x":798,"y":44,"wires":[["79d0972e.0a1908"]]},{"id":"ababfec1.a867d","type":"ui_text_input","z":"c39fa444.1fa9f8","name":"Socket 2","label":"Socket 2","group":"4aa126c0.fadea8","order":2,"width":"3","height":"1","passthru":false,"mode":"text","delay":"0","topic":"pb/22/name","x":788,"y":84,"wires":[["79d0972e.0a1908"]]},{"id":"aa29ce98.37c51","type":"ui_text_input","z":"c39fa444.1fa9f8","name":"Socket 3","label":"Socket 3","group":"4aa126c0.fadea8","order":3,"width":"3","height":"1","passthru":false,"mode":"text","delay":"0","topic":"pb/23/name","x":788,"y":124,"wires":[["79d0972e.0a1908"]]},{"id":"9310a4f4.6e21d8","type":"ui_text_input","z":"c39fa444.1fa9f8","name":"Socket 4","label":"Socket 4","group":"4aa126c0.fadea8","order":4,"width":"3","height":"1","passthru":false,"mode":"text","delay":"0","topic":"pb/24/name","x":788,"y":164,"wires":[["79d0972e.0a1908"]]},{"id":"503e6d4b.7e6f64","type":"ui_text_input","z":"c39fa444.1fa9f8","name":"Socket 5","label":"Socket 5","group":"4aa126c0.fadea8","order":5,"width":"3","height":"1","passthru":false,"mode":"text","delay":"0","topic":"pb/25/name","x":788,"y":204,"wires":[["79d0972e.0a1908"]]},{"id":"b737a35d.71c","type":"ui_text_input","z":"c39fa444.1fa9f8","name":"Socket 6","label":"Socket 6","group":"4aa126c0.fadea8","order":6,"width":"3","height":"1","passthru":false,"mode":"text","delay":"0","topic":"pb/26/name","x":788,"y":244,"wires":[["79d0972e.0a1908"]]},{"id":"3b31a094.c4eea","type":"ui_text_input","z":"c39fa444.1fa9f8","name":"Socket 7","label":"Socket 7","group":"4aa126c0.fadea8","order":7,"width":"3","height":"1","passthru":false,"mode":"text","delay":"0","topic":"pb/27/name","x":788,"y":284,"wires":[["79d0972e.0a1908"]]},{"id":"e2620db0.c96e8","type":"ui_text_input","z":"c39fa444.1fa9f8","name":"Socket 8","label":"Socket 8","group":"4aa126c0.fadea8","order":8,"width":"3","height":"1","passthru":false,"mode":"text","delay":"0","topic":"pb/28/name","x":788,"y":324,"wires":[["79d0972e.0a1908"]]},{"id":"e1fab616.924948","type":"ui_switch","z":"c39fa444.1fa9f8","name":"Socket 01","label":"{{msg.txt}} 01 - {{msg.name}}","group":"e4ff5249.d85ce","order":2,"width":"0","height":"0","passthru":false,"decouple":"false","topic":"pb/21/val","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":789,"y":392,"wires":[["fe16e1b1.da311"]]},{"id":"4fa2425f.c2d22c","type":"ui_switch","z":"c39fa444.1fa9f8","name":"Socket 2","label":"{{msg.txt}} 02 - {{msg.name}}","group":"e4ff5249.d85ce","order":3,"width":"0","height":"0","passthru":false,"decouple":"false","topic":"pb/22/val","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":789,"y":432,"wires":[["fe16e1b1.da311"]]},{"id":"25957786.3fd6a8","type":"ui_switch","z":"c39fa444.1fa9f8","name":"Socket 04","label":"{{msg.txt}} 04 - {{msg.name}}","group":"e4ff5249.d85ce","order":5,"width":"0","height":"0","passthru":false,"decouple":"false","topic":"pb/24/val","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":789,"y":512,"wires":[["fe16e1b1.da311"]]},{"id":"1fce5c8f.aaf253","type":"ui_switch","z":"c39fa444.1fa9f8","name":"Socket 03","label":"{{msg.txt}} 03 - {{msg.name}}","group":"e4ff5249.d85ce","order":4,"width":"0","height":"0","passthru":false,"decouple":"false","topic":"pb/23/val","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":789,"y":472,"wires":[["fe16e1b1.da311"]]},{"id":"32ca1561.a3ac5a","type":"ui_switch","z":"c39fa444.1fa9f8","name":"Socket 05","label":"{{msg.txt}} 05 - {{msg.name}}","group":"e4ff5249.d85ce","order":6,"width":"0","height":"0","passthru":false,"decouple":"false","topic":"pb/25/val","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":789,"y":552,"wires":[["fe16e1b1.da311"]]},{"id":"63da8a36.290a94","type":"ui_switch","z":"c39fa444.1fa9f8","name":"Socket 06","label":"{{msg.txt}} 06 - {{msg.name}}","group":"e4ff5249.d85ce","order":7,"width":"0","height":"0","passthru":false,"decouple":"false","topic":"pb/26/val","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":789,"y":592,"wires":[["fe16e1b1.da311"]]},{"id":"44806426.8a2b6c","type":"ui_switch","z":"c39fa444.1fa9f8","name":"Socket 07","label":"{{msg.txt}} 07 - {{msg.name}}","group":"e4ff5249.d85ce","order":8,"width":"0","height":"0","passthru":false,"decouple":"false","topic":"pb/27/val","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":789,"y":632,"wires":[["fe16e1b1.da311"]]},{"id":"dbc71807.913c28","type":"ui_switch","z":"c39fa444.1fa9f8","name":"Socket 08","label":"{{msg.txt}} 08 - {{msg.name}}","group":"e4ff5249.d85ce","order":9,"width":"0","height":"0","passthru":false,"decouple":"false","topic":"pb/28/val","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":788,"y":677,"wires":[["fe16e1b1.da311"]]},{"id":"98a49513.d62968","type":"function","z":"a203440a.3c5b78","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":740.0000190734863,"y":310.00000858306885,"wires":[["438495a8.dd745c"]]},{"id":"502231fb.3792","type":"debug","z":"a561ce96.8b15d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":534.017333984375,"y":226.0104217529297,"wires":[]},{"id":"6b016702.0688a8","type":"catch","z":"a561ce96.8b15d","name":"","scope":null,"x":148,"y":45.931251525878906,"wires":[["91a97ef6.9792f"]]},{"id":"91a97ef6.9792f","type":"debug","z":"a561ce96.8b15d","name":"","active":true,"console":"false","complete":"true","x":302,"y":44,"wires":[]},{"id":"ef2c2b95.dbc128","type":"debug","z":"a561ce96.8b15d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":364,"y":253,"wires":[]},{"id":"b143c7d0.bccae8","type":"function","z":"a561ce96.8b15d","name":"","func":"var origPayload = parseFloat(msg.payload);\n\nmsg.payload = [{\n    value: origPayload,\n},\n{\n    sensor:\"temperature\",\n    type:\"esp\"\n}];\nreturn msg;","outputs":1,"noerr":0,"x":635.166690826416,"y":648.0000162124634,"wires":[["73b06bfa.496c84"]]},{"id":"debce36d.84af1","type":"inject","z":"a561ce96.8b15d","name":"","topic":"","payload":"{temperature?}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":317,"y":565,"wires":[[]]},{"id":"dfc91e62.cc968","type":"mqtt in","z":"41376853.feabd8","name":"","topic":"relays/input/+","qos":"2","broker":"72ea5e22.d0c31","x":350,"y":760,"wires":[["8a95c895.3a0948"]]},{"id":"8a95c895.3a0948","type":"function","z":"41376853.feabd8","name":"Create Dosing Msgs","func":"var topic = msg.topic;\nvar pump = topic.split(\"/\")[2];\nvar channel =\"\";\nvar cmd = msg.payload == \"on\" ? 1 : 0;\nif(topic.split(\"/\")[0] == \"relays\"){\n    switch(pump){\n      case \"macro\":\n            channel = \"0\";\n            break;\n        case \"micro\":\n            channel = \"1\";\n            break;\n        case \"alk\":\n            channel = \"2\";\n            break;\n        case \"gh\":\n            channel = \"3\";\n            break;\n        default:\n        \n    }\n    msg.payload = cmd;\n    msg.topic = \"dosing/DP4/\"+channel;\n    \n    if (channel !== \"\"){\n        node.send(msg);\n    }\n}","outputs":1,"noerr":0,"x":580,"y":760,"wires":[["ea583ed0.03d5e","7194b6af.e7fa68"]]},{"id":"ea583ed0.03d5e","type":"debug","z":"41376853.feabd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":870,"y":760,"wires":[]},{"id":"7194b6af.e7fa68","type":"mqtt out","z":"41376853.feabd8","name":"","topic":"","qos":"","retain":"","broker":"72ea5e22.d0c31","x":800,"y":840,"wires":[]},{"id":"48ee665a.1fc328","type":"debug","z":"bee4999d.d0f058","name":"","active":false,"console":"false","complete":"true","x":1210,"y":340,"wires":[]},{"id":"80514439.3e32c8","type":"function","z":"bee4999d.d0f058","name":"Split for Chart","func":"\nvar topic = msg.topic.split(\"\\/\")[2];\n\nif (topic == \"gh\")\n    {\n        global.set(\"doseGH\", parseInt(msg.payload));\n    }\nif (topic == \"macro\")\n    {\n        global.set(\"doseMacro\", parseInt(msg.payload));\n    }\nif (topic == \"micro\")\n    {\n        global.set(\"doseMicro\", parseInt(msg.payload));\n    }\nif (topic == \"alk\")\n    {\n        global.set(\"doseAlk\", parseInt(msg.payload));\n    }    \n    \n\nmsg.topic = topic;\nreturn msg;","outputs":1,"noerr":0,"x":1180,"y":460,"wires":[["b2d40df6.b3dc9"]]},{"id":"bce9ff06.3eaed","type":"inject","z":"a26fded0.5e64f","name":"on start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":120,"y":140,"wires":[["fc02b90b.73e108"]]},{"id":"8eb16aa5.6e6f78","type":"function","z":"a26fded0.5e64f","name":"init state","func":"var devices = global.get('devices') || {};\n\nfor (var device in devices) {\n    node.send({   \n        topic: 'relays/input/' + device,\n        payload: devices[device].state ,\n        mode: devices[device].mode,\n        channel: devices[device].channel\n    }\n    );\n}\n","outputs":"1","noerr":0,"x":600,"y":120,"wires":[["bbdcc233.03a43","6f91dbdd.f77594"]]},{"id":"78757eb3.59951","type":"comment","z":"a26fded0.5e64f","name":"load state","info":"","x":160,"y":80,"wires":[]},{"id":"324b6f91.f26ad","type":"comment","z":"a26fded0.5e64f","name":"configure devices here","info":"","x":399.0187683105469,"y":103.0250015258789,"wires":[]},{"id":"bbdcc233.03a43","type":"delay","z":"a26fded0.5e64f","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":810,"y":120,"wires":[["40c62202.30b01c"]]},{"id":"fa92d117.1244","type":"function","z":"a26fded0.5e64f","name":"init devices","func":"/* set up all devices */\n\nvar devices = {\n    mixer: {\n        name: 'Mixer',\n        state: 'off',\n        mode: 'auto',\n        force: true,\n        channel: 0\n    },\n    micro: {\n        name: 'Micro',\n        state: 'off',\n        mode: 'auto',\n        force: true,\n        channel: 1\n    },\n    macro: {\n        name: 'Macro',\n        state: 'off',\n        mode: 'auto',\n        force: true,\n        channel: 2\n    },\n    alk: {\n        name: 'Alk',\n        state: 'off',\n        mode: 'auto',\n        force: true,\n        channel: 3\n    },\n    drain: {\n        name: 'Drain',\n        state: 'off',\n        mode: 'auto',\n        force: true,\n        channel: 4\n    },\n    co2: {\n        name: 'CO2',\n        state: 'off',\n        mode: 'auto',\n        force: true,\n        channel: 5\n    },\n    gh: {\n        name: 'GH',\n        state: 'off',\n        mode: 'auto',\n        force: true,\n        channel: 6\n    },\n    ato: {\n        name: 'ATO',\n        state: 'off',\n        force: true,\n        channel: 7\n    },\n    filter: {\n        name: 'Filter',\n        state: 'on',\n        mode: 'auto',\n        force: true,\n        channel: 8\n    },\n    air: {\n        name: 'Air',\n        state: 'on',\n        mode: 'auto',\n        force: true,\n        channel: 9\n    },\n    circ1: {\n        name: 'Circ 1',\n        state: 'off',\n        mode: 'auto',\n        force: true,\n        channel: 10\n    },\n    heater: {\n        name: 'Heater',\n        state: 'off',\n        mode: 'auto',\n        force: true,\n        channel: 11\n    },\n    T5: {\n        name: 'T5',\n        state: 'off',\n        mode: 'auto',\n        force: true,\n        channel: 12\n    }\n};\n\n\nglobal.set('devices', devices);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":450,"y":140,"wires":[["8eb16aa5.6e6f78"]]},{"id":"40c62202.30b01c","type":"mqtt out","z":"a26fded0.5e64f","name":"relays/input/+","topic":"","qos":"","retain":"","broker":"72ea5e22.d0c31","x":1051.0188179016113,"y":129.024995803833,"wires":[]},{"id":"137ed163.809c0f","type":"mqtt out","z":"a26fded0.5e64f","name":"relays/input/+","topic":"","qos":"","retain":"","broker":"a17a229d.02d25","x":1040,"y":660,"wires":[]},{"id":"234a759.b44918a","type":"ui_template","z":"a26fded0.5e64f","group":"a25125e5.502b28","name":"buttons","order":1,"width":"6","height":"8","format":"\n<div ng-repeat=\"(key, device) in msg.payload\">\n\n    <div class=\"btn-row \" layout=\"row\" layout-sm=\"column\" layout-align=\"center center\" layout-wrap>\n\n        <span class=\" fa fa-power-off\"\n        ng-class=\"device.state === 'on' ? 'power-on' : 'power-off'\"></span>\n        \n\t\t<span class=\"btn-name\" flex=\"30\">&nbsp; &nbsp;{{device.name}}</span>\n        <md-button \n                class=\"md-raised btn device.state === 'on' ? 'btn-off' : 'btn-off'\"\n                ng-init=\"buttonText = device.state === 'on' ? 'On' : 'Off'\" \n                ng-click=\"buttonText = device.state === 'on' ? 'Off' : 'On'; device.state = device.state === 'on' ? 'off' : 'on';\n                send({payload: device.state, channel: device.channel , topic: 'relays/input/'+key});\"\n                flex=\"30\"\n                style=\"margin-top: 0px; min-height: 26px; max-height: 26px;   border: 1px solid #ababab;\">\n                {{buttonText}}\n        </md-button>\n            \n         <md-button \n                class=\"md-raised btn btn-off\" \n                ng-init=\"buttonText2 = device.mode === 'auto' ? 'Auto' : 'Manual'\" \n                ng-click=\"buttonText2 = device.mode === 'auto' ? 'Manual' : 'Auto'; device.mode = device.mode === 'auto' ? 'manual' : 'auto';\n                send({payload: device.mode,  channel: device.channel, topic: 'relays/auto/'+key});\"\n                flex=\"30\"\n                style=\"margin-top: 0px;  margin-left: 5px; min-height: 26px; max-height: 26px;   border: 1px solid #ababab;\">\n                {{buttonText2}}\n        </md-button>\n            \n\n    </div>\n</div>\n\n\n<style>\n    :focus {\n        outline: 0;\n    }\n\n    .btn-row {\n        margin-bottom: 5px;\n        margin-top: 0px;\n        margin-left: 5px;\n        margin-left: 0px;\n    }\n    \n   .md-button.btn {\n               background-color: #c3c3c3;\n    }\n    \n    .md-button.btn.btn-off.btn-selected {\n        background-color: #F4511E;\n    }\n    \n    .md-button.btn.btn-on.btn-selected {\n        background-color: #66FF00;\n    }\n    \n    .md-button.btn.btn-auto.btn-selected {\n        background-color: #ffaa00;\n    }\n    \n    \n    .btn-name {\n        text-align: left;\n        margin-left: 2px;\n\n    }\n    \n\n    .power-on {\n     color: #00ff00;\n    }\n    .power-off {\n     color: #ff0000;\n    }\n    \n    \n    }\n \n</style>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":680,"y":640,"wires":[["c96aa48e.465ca8","137ed163.809c0f"]]},{"id":"ec9acc06.a9e5c","type":"mqtt in","z":"a26fded0.5e64f","name":"","topic":"relays/state","qos":"2","broker":"72ea5e22.d0c31","x":150,"y":660,"wires":[["d0b7bac1.a2c0d8"]]},{"id":"702cf30c.76bd0c","type":"json","z":"a26fded0.5e64f","name":"","property":"payload","action":"","pretty":false,"x":478.99986457824707,"y":662.9997997283936,"wires":[["234a759.b44918a","8466bbdb.10ff18","f4be598b.9de298"]]},{"id":"79ee0c11.5d47d4","type":"comment","z":"a26fded0.5e64f","name":"Dashboard Buttons ","info":"","x":284.99986457824707,"y":614.9997997283936,"wires":[]},{"id":"9ba00ae1.52b458","type":"mqtt in","z":"a26fded0.5e64f","name":"","topic":"relays/input/+","qos":"2","broker":"72ea5e22.d0c31","x":200.0187759399414,"y":369.02506923675537,"wires":[["5a25b1d4.f9371","606e5398.44e64c","884ace35.a5367"]]},{"id":"9ba13afa.5a4198","type":"comment","z":"a26fded0.5e64f","name":"handle state changes","info":"","x":191.01876831054688,"y":274.0250015258789,"wires":[]},{"id":"b5482a8b.6f4558","type":"mqtt out","z":"a26fded0.5e64f","name":"","topic":"relays/state","qos":"2","retain":"","broker":"72ea5e22.d0c31","x":990.0187911987305,"y":349.0249443054199,"wires":[]},{"id":"14749c2f.cfc524","type":"comment","z":"a26fded0.5e64f","name":"broadcast full state","info":"","x":725.0187530517578,"y":261.0250129699707,"wires":[]},{"id":"a942e77e.e12a48","type":"mqtt in","z":"a26fded0.5e64f","name":"","topic":"relays/auto/+","qos":"2","broker":"72ea5e22.d0c31","x":204.01876831054688,"y":316.0250358581543,"wires":[["86bfbbf9.938d68"]]},{"id":"884ace35.a5367","type":"function","z":"a26fded0.5e64f","name":"store state","func":"/* get the device */\ndevice = msg.topic.split('/');\ndevice = device[2];\n\n/* store state back into state machine */\n    global.set('devices.'+device+'.state', msg.payload);\n    global.set('devices.'+device+'.mode', msg.mode);\n return msg;\n","outputs":1,"noerr":0,"x":483.5188293457031,"y":371.02501010894775,"wires":[["12d819e4.3535a6"]]},{"id":"12d819e4.3535a6","type":"function","z":"a26fded0.5e64f","name":"build state object","func":"function bit_set(num, bit) {\n    return num | 1 << bit;\n}\n\n/* build full state object */\n//var state   = global.get('state');\nvar devices = global.get('devices');\nvar relay8 = 0;\n\n//build the bitmap for the relay controller\nfor(var device in devices) {\n    if (devices[device].channel < 8)\n    {\n        relay8 = devices[device].state === 'off' ?  relay8 | 1 << devices[device].channel : relay8;\n    }\n}\n\nmsg = {\n    topic: 'relays/state',\n    payload: devices,\n    relay: relay8\n};\n\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":738.0187683105469,"y":348.0250015258789,"wires":[["f0435d2b.3d26d","2e52a5b1.76e36a","b5482a8b.6f4558"]]},{"id":"86bfbbf9.938d68","type":"function","z":"a26fded0.5e64f","name":"store state","func":"/* get the device */\ndevice = msg.topic.split('/');\ndevice = device[2];\n\n/* store state back into state machine */\n//global.set('devices.'+device+'.state', msg.payload);\nglobal.set('devices.'+device+'.mode',  msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":488.5188293457031,"y":316.0250606536865,"wires":[["12d819e4.3535a6"]]},{"id":"8466bbdb.10ff18","type":"debug","z":"a26fded0.5e64f","name":"","active":false,"console":"false","complete":"true","x":603.8998279571533,"y":588.7372570037842,"wires":[]},{"id":"c96aa48e.465ca8","type":"debug","z":"a26fded0.5e64f","name":"","active":false,"console":"false","complete":"true","x":830,"y":600,"wires":[]},{"id":"e3e916ba.a88328","type":"catch","z":"a26fded0.5e64f","name":"","scope":null,"x":300,"y":60,"wires":[["dfc3e765.7fec08"]]},{"id":"dfc3e765.7fec08","type":"debug","z":"a26fded0.5e64f","name":"","active":true,"console":"false","complete":"true","x":450,"y":60,"wires":[]},{"id":"2e52a5b1.76e36a","type":"function","z":"a26fded0.5e64f","name":"Msg for Relay","func":"newmsg = {payload: msg.relay}\n\nreturn newmsg;","outputs":1,"noerr":0,"x":1080,"y":260,"wires":[["d4940476.e983c8"]]},{"id":"ca31849c.c36ae8","type":"influxdb out","z":"a26fded0.5e64f","influxdb":"b72cd584.69f598","name":"","measurement":"","precision":"","retentionPolicy":"","x":730.6334648132324,"y":486.86667919158936,"wires":[]},{"id":"606e5398.44e64c","type":"function","z":"a26fded0.5e64f","name":"Influxdb tags","func":"var devices = global.get('devices') || {};\nvar device = devices[msg.topic.split('/')[2]];\nmsg.measurement = \"relays\";\nvar origpayload = parseInt(msg.payload === 'on' ? 1 : 0) ;\nmsg.device = device;\nmsg.payload = [{\n    value: origpayload,\n},\n{\n    relay:\"sain8\",\n    number: device.channel,\n    name: device.name,\n    mode: device.mode\n}];\nreturn msg;","outputs":1,"noerr":0,"x":471.63340759277344,"y":474.800106048584,"wires":[["e5e790e0.72a69","ca31849c.c36ae8"]]},{"id":"e5e790e0.72a69","type":"debug","z":"a26fded0.5e64f","name":"","active":false,"console":"false","complete":"true","x":669.0000610351562,"y":437.9999532699585,"wires":[]},{"id":"5a25b1d4.f9371","type":"debug","z":"a26fded0.5e64f","name":"","active":false,"console":"false","complete":"true","x":410.0000228881836,"y":536.9999780654907,"wires":[]},{"id":"d0b7bac1.a2c0d8","type":"rbe","z":"a26fded0.5e64f","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":342.75449562072754,"y":668.185712814331,"wires":[["702cf30c.76bd0c"]]},{"id":"6f91dbdd.f77594","type":"debug","z":"a26fded0.5e64f","name":"","active":false,"console":"false","complete":"true","x":822.0235023498535,"y":208.03907203674316,"wires":[]},{"id":"f0435d2b.3d26d","type":"debug","z":"a26fded0.5e64f","name":"","active":false,"console":"false","complete":"true","x":1018.0234680175781,"y":431.0390796661377,"wires":[]},{"id":"fc02b90b.73e108","type":"trigger","z":"a26fded0.5e64f","op1":"","op2":"","op1type":"pay","op2type":"pay","duration":"5","extend":false,"units":"s","reset":"","name":"","x":290,"y":180,"wires":[["fa92d117.1244"]]},{"id":"d4940476.e983c8","type":"debug","z":"a26fded0.5e64f","name":"","active":false,"console":"false","complete":"true","x":1250,"y":200,"wires":[]},{"id":"66b2d69d.42a778","type":"ui_button","z":"a26fded0.5e64f","name":"","group":"e620ae25.1b9","order":1,"width":0,"height":0,"passthru":false,"label":"Init Devices","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":120,"y":200,"wires":[["fc02b90b.73e108"]]},{"id":"ff377097.b3b84","type":"inject","z":"a26fded0.5e64f","name":"","topic":"","payload":"255","payloadType":"num","repeat":"","crontab":"","once":false,"x":1150,"y":380,"wires":[[]]},{"id":"e8097a24.414c98","type":"ui_text","z":"f0075dd2.5f44e","group":"2fb31fa9.229cd","order":3,"width":"2","height":"2","name":"ATO","label":"<font size='5'>ATO</font>","format":"<font size='4' color={{msg.color}}>{{msg.payload}}</font>","layout":"col-center","x":850,"y":280,"wires":[]},{"id":"d2cf7653.9d5a68","type":"function","z":"f0075dd2.5f44e","name":"Set Dashboard on/off color","func":"msg.color = msg.payload === 'off' ? 'red' : 'lime';\nmsg.payload = msg.payload === 'off' ? \"OFF\" : \"ON\";\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":280,"wires":[["e8097a24.414c98"]]},{"id":"80d42c7.8695dd","type":"mqtt in","z":"f0075dd2.5f44e","name":"","topic":"relays/input/ato","qos":"1","broker":"a17a229d.02d25","x":320,"y":280,"wires":[["d2cf7653.9d5a68"]]},{"id":"7fb782c9.a0c2dc","type":"function","z":"f0075dd2.5f44e","name":"Set Dashboard color","func":"var level = msg.payload;\nvar max = parseInt(flow.get(\"cfg/wl/max\")) || 100;\nvar min = parseInt(flow.get(\"cfg/wl/min\")) || 92;\n\nif (  level < min || level > max)\n    {\n        msg.color = 'red';\n    }\nelse\n    {\n        msg.color = 'lime';\n    }\n\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":80,"wires":[["1070a085.07bd9f","e62a0f81.b457e"]]},{"id":"1070a085.07bd9f","type":"ui_text","z":"f0075dd2.5f44e","group":"2fb31fa9.229cd","order":2,"width":"2","height":"2","name":"Level","label":"<font size='5'>H2O</font>","format":"<font size='4' color={{msg.color}}>{{msg.payload}}</font>","layout":"col-center","x":819.0000267028809,"y":82.99999809265137,"wires":[]},{"id":"3ca84751.a3c6c8","type":"function","z":"f0075dd2.5f44e","name":"","func":"var level = msg.payload;\nif (  level < 300 || level > 400)\n    {\n        msg.color = 'red';\n    }\nelse\n    {\n        msg.color = 'lime';\n    }\n\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":340,"wires":[["8950e133.d297f","59555d54.7bba14"]]},{"id":"8950e133.d297f","type":"ui_text","z":"f0075dd2.5f44e","group":"2fb31fa9.229cd","order":5,"width":"2","height":"2","name":"EC","label":"<font size='5'>EC</font>","format":"<font size='4' color={{msg.color}}>{{msg.payload}} μS</font>","layout":"col-center","x":830,"y":340,"wires":[]},{"id":"19ba2450.6ad19c","type":"function","z":"f0075dd2.5f44e","name":"","func":"var level = msg.payload;\nif (  level < 6.5 || level > 7)\n    {\n        msg.color = 'red';\n    }\nelse\n    {\n        msg.color = 'lime';\n    }\n\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":420,"wires":[["4334b02a.5c78"]]},{"id":"4334b02a.5c78","type":"ui_text","z":"f0075dd2.5f44e","group":"2fb31fa9.229cd","order":4,"width":"2","height":"2","name":"PH","label":"<font size='5'>PH</font>","format":"<font size='4' color={{msg.color}}>{{msg.payload}}</font>","layout":"col-center","x":830,"y":420,"wires":[]},{"id":"65dc7236.04053c","type":"mqtt in","z":"f0075dd2.5f44e","name":"","topic":"Sensor/WaterLevel","qos":"2","broker":"a17a229d.02d25","x":320,"y":80,"wires":[["7fb782c9.a0c2dc"]]},{"id":"53511f13.d42bd","type":"mqtt in","z":"f0075dd2.5f44e","name":"","topic":"Sensor/EC","qos":"2","broker":"a17a229d.02d25","x":320,"y":340,"wires":[["3ca84751.a3c6c8"]]},{"id":"b4adde45.ada6c","type":"mqtt in","z":"f0075dd2.5f44e","name":"","topic":"Sensor/PH","qos":"2","broker":"a17a229d.02d25","x":340,"y":420,"wires":[["19ba2450.6ad19c"]]},{"id":"e92f1d3d.53413","type":"function","z":"f0075dd2.5f44e","name":"Set Color for UI","func":"var level = parseInt(msg.payload) || 100;\nvar temp = parseInt(global.get(\"temp_set\")) || 80;\n\n\nif (  level < temp - 1 || level > temp + 1)\n    {\n        msg.color = 'red';\n    }\nelse\n    {\n        msg.color = 'lime';\n    }\n\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":180,"wires":[["276ecfd7.d55f1"]]},{"id":"276ecfd7.d55f1","type":"ui_text","z":"f0075dd2.5f44e","group":"2fb31fa9.229cd","order":1,"width":"2","height":"2","name":"Big Temp on Dashboard","label":"<font size='5'>Temp</font>","format":"<font size='4' color={{msg.color}}>{{msg.payload}}&deg; F</font>","layout":"col-center","x":770,"y":180,"wires":[]},{"id":"5b7aa498.73604c","type":"mqtt in","z":"f0075dd2.5f44e","name":"","topic":"Sensor\\TankTemp","qos":"2","broker":"a17a229d.02d25","x":330,"y":180,"wires":[["e92f1d3d.53413"]]},{"id":"f2fa3bb6.ac1018","type":"ui_text","z":"1044d52f.831e8b","group":"fab54156.2d73e","order":2,"width":"2","height":"2","name":"CPU","label":"<font size='5'>CPU</font>","format":"<font size='4' color={{msg.color}}>{{msg.payload}}&deg; F</font>","layout":"col-center","x":1110,"y":1060,"wires":[]},{"id":"ff45fa9.8cb6408","type":"ui_button","z":"1500acce.10e563","name":"","group":"c04f4839.8882b8","order":4,"width":"3","height":"1","passthru":false,"label":"Start","color":"","bgcolor":"","icon":"fa-check","payload":"on","payloadType":"str","topic":"relay","x":170,"y":420,"wires":[["1cc1ba64.b12ab6","b3eca0d5.27535","79eb794d.8b0598"]]},{"id":"5b535504.218e3c","type":"ui_numeric","z":"1500acce.10e563","name":"","label":"Seconds","group":"c04f4839.8882b8","order":2,"width":"3","height":"1","passthru":false,"topic":"delay","format":"{{value}}","min":"1","max":"120","step":1,"x":178.00000190734863,"y":522.1812419891357,"wires":[["b3eca0d5.27535","79eb794d.8b0598"]]},{"id":"52f7c60d.709d28","type":"ui_button","z":"1500acce.10e563","name":"","group":"c04f4839.8882b8","order":5,"width":"3","height":"1","passthru":false,"label":"Stop","color":"","bgcolor":"","icon":"fa-hand-stop-o","payload":"off","payloadType":"str","topic":"relay","x":170,"y":480,"wires":[["a204f615.aa3df8","1cc1ba64.b12ab6","79eb794d.8b0598"]]},{"id":"cbfc1d1e.38c7a","type":"ui_text","z":"1500acce.10e563","group":"c04f4839.8882b8","order":3,"width":"3","height":"1","name":"","label":"Secs Remaining","format":"{{msg.payload}}","layout":"row-left","x":690,"y":510,"wires":[]},{"id":"7e34080c.0e2378","type":"ui_text_input","z":"1500acce.10e563","name":"Results (ml)","label":"Result (ml)","group":"c04f4839.8882b8","order":6,"width":"0","height":"0","passthru":true,"mode":"text","delay":"100","topic":"ml","x":210,"y":650,"wires":[["b0cce801.308808"]]},{"id":"b0cce801.308808","type":"function","z":"1500acce.10e563","name":"Set Flow Var","func":"var ml = msg.payload;\nvar secs = flow.get(\"pumpSecs\");\nvar flowRate = (ml / secs).toFixed(4);\nmsg.payload = (flowRate);\nflow.set(\"flowRate\", flowRate);\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":640,"wires":[["7610ecf3.82b574","44b34599.c14f8c"]]},{"id":"44b34599.c14f8c","type":"debug","z":"1500acce.10e563","name":"ml","active":true,"console":"false","complete":"payload","x":830,"y":650,"wires":[]},{"id":"45920363.a497fc","type":"ui_template","z":"1500acce.10e563","group":"c04f4839.8882b8","name":"Placeholder","order":9,"width":"6","height":"1","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":210,"y":690,"wires":[[]]},{"id":"7610ecf3.82b574","type":"ui_text","z":"1500acce.10e563","group":"c04f4839.8882b8","order":8,"width":0,"height":0,"name":"","label":"New Rate","format":"{{msg.payload}} ml/s","layout":"row-left","x":850,"y":710,"wires":[]},{"id":"e08b169b.0c41d8","type":"ui_button","z":"1500acce.10e563","name":"","group":"c04f4839.8882b8","order":10,"width":"6","height":"1","label":"Saveit","color":"white","bgcolor":"","icon":"fa-save","payload":"1","payloadType":"num","topic":"","x":210,"y":820,"wires":[["bba3ebde.a2d198"]]},{"id":"bba3ebde.a2d198","type":"function","z":"1500acce.10e563","name":"Set Pump topic","func":"\nmsg.topic = \"cfg/dose/\" + flow.get(\"pumpName\").toLowerCase() + \"/rate\";\nmsg.payload =  flow.get(\"flowRate\");\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":820,"wires":[["79df667a.285608"]]},{"id":"79d42fc9.34098","type":"ui_dropdown","z":"1500acce.10e563","name":"Dosing Pump","label":"Dosing Pump","tooltip":"","place":"","group":"c04f4839.8882b8","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"Macro","value":"Macro","type":"str"},{"label":"Micro","value":"Micro","type":"str"},{"label":"GH","value":"GH","type":"str"},{"label":"ALK","value":"ALK","type":"str"},{"label":"Drain","value":"Drain","type":"str"}],"payload":"","topic":"pumpName","x":280,"y":140,"wires":[["1e5845c7.72dc8a"]]},{"id":"79df667a.285608","type":"mqtt out","z":"1500acce.10e563","name":"cfg/dose/[pumpname]/[amt,rate]","topic":"","qos":"1","retain":"false","broker":"72ea5e22.d0c31","x":750,"y":820,"wires":[]},{"id":"1e5845c7.72dc8a","type":"function","z":"1500acce.10e563","name":"PumpName","func":"//var pumpName = msg.payload;\nflow.set(\"pumpName\", msg.payload);\n//var oldRate = global.get(\"Config/\"+msg.payload.toLowerCase()+\"DoseRate\") || 2;\n//msg.payload = oldRate;\n//return msg;","outputs":1,"noerr":0,"x":490,"y":140,"wires":[[]]},{"id":"b7d9bb67.cf14f8","type":"mqtt out","z":"1500acce.10e563","name":"relays/input/[pumpname]","topic":"","qos":"0","retain":"","broker":"72ea5e22.d0c31","x":1160,"y":420,"wires":[]},{"id":"a204f615.aa3df8","type":"change","z":"1500acce.10e563","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"delay","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":250,"wires":[["8ed3612e.47acb"]]},{"id":"8ed3612e.47acb","type":"delay","z":"1500acce.10e563","name":"Turn Off Delay","pauseType":"delayv","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":670,"y":240,"wires":[["4e1ebd3e.d9bfd4","565a3716.d3ddb8"]]},{"id":"4e1ebd3e.d9bfd4","type":"debug","z":"1500acce.10e563","name":"","active":false,"console":"false","complete":"true","x":900,"y":250,"wires":[]},{"id":"565a3716.d3ddb8","type":"change","z":"1500acce.10e563","name":"CHANGE","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":330,"wires":[["1cc1ba64.b12ab6"]]},{"id":"b3eca0d5.27535","type":"function","z":"1500acce.10e563","name":"Set Delay to millis","func":"var value  = context.get('delay') || 0;\n\n\n\n    \n    if (msg.topic === \"delay\")\n    {\n      value = msg.payload * 1000;\n      context.set('delay',value); \n      flow.set(\"origDelay\", value );\n    }\n    if (msg.topic === \"relay\")\n    {\n        msg.delay = value;\n        node.send(msg);\n    }","outputs":1,"noerr":0,"x":470,"y":330,"wires":[["8ed3612e.47acb"]]},{"id":"1cc1ba64.b12ab6","type":"function","z":"1500acce.10e563","name":"","func":"msg.topic = \"relays/input/\" + flow.get(\"pumpName\").toLowerCase();\n\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":420,"wires":[["b7d9bb67.cf14f8"]]},{"id":"79eb794d.8b0598","type":"function","z":"1500acce.10e563","name":"","func":"\nvar value  = context.get('value') || 1000;\n\nif (msg.topic == \"delay\")\n{\n  value = msg.payload * 1000;\n  context.set('value',value);  \n  flow.set(\"pumpSecs\", msg.payload);\n}\n\nelse if (msg.payload == \"on\")\n{\n// value = flow.get(\"origDelay\");\n\nvar timer = setTimeout(function(){msg.payload = \"now\";node.send([msg,{ payload: \"Done\" }]);var countdownstop  = context.get('countdown');clearInterval(countdownstop);},value);\ncontext.set('timer',timer); \n\nvar count = value/1000;\n//count = count -1 ;\nmsg.payload=count;\nnode.send([null,msg]);\nvar countdown = setInterval(function() {count=count-1;msg.payload=count; node.send([null,msg]); }, 1000);\ncontext.set('countdown',countdown);\n\n}\n\nelse if (msg.topic == \"off\")\n{\nvar timerstop  = context.get('timer');\nclearTimeout(timerstop);\n\nvar countdownstop  = context.get('countdown');\nclearInterval(countdownstop);\n\n}\n\n\n","outputs":"2","noerr":0,"x":500,"y":500,"wires":[[],["cbfc1d1e.38c7a"]]},{"id":"a469092.1d0a2f8","type":"comment","z":"1500acce.10e563","name":"Select which pump to calibrate","info":"","x":240,"y":70,"wires":[]},{"id":"1d568712.d2a7b9","type":"comment","z":"1500acce.10e563","name":"Run pump for selected amount of seconds","info":"","x":270,"y":210,"wires":[]},{"id":"6a1bb7bb.9c9128","type":"comment","z":"1500acce.10e563","name":"Show the resulting ml/sec","info":"","x":190,"y":600,"wires":[]},{"id":"72361.27eedc9fc","type":"comment","z":"1500acce.10e563","name":"Save the results to the config ","info":"","x":180,"y":780,"wires":[]},{"id":"499f8a9a.a62484","type":"catch","z":"1500acce.10e563","name":"","scope":null,"x":110,"y":30,"wires":[["84cc2281.a1ef7"]]},{"id":"84cc2281.a1ef7","type":"debug","z":"1500acce.10e563","name":"","active":true,"console":"false","complete":"true","x":300,"y":30,"wires":[]},{"id":"f4be598b.9de298","type":"function","z":"a26fded0.5e64f","name":"","func":"flow.set(\"payload\", msg);\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":720,"wires":[[]]},{"id":"722f3928.c64b08","type":"function","z":"a26fded0.5e64f","name":"","func":"msg = flow.get(\"payload\");\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":720,"wires":[["234a759.b44918a"]]},{"id":"ddc531ad.8bd59","type":"inject","z":"a26fded0.5e64f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":520,"y":760,"wires":[["722f3928.c64b08"]]},{"id":"2e89763a.89672a","type":"mqtt in","z":"dcde7d45.f1db5","name":"","topic":"cfg/dose/drain/rate","qos":"2","broker":"72ea5e22.d0c31","x":190,"y":740,"wires":[["c97a9e14.2550b","82480aff.28d238"]]},{"id":"ee04edfb.d25a1","type":"mqtt in","z":"dcde7d45.f1db5","name":"","topic":"cfg/dose/drain/amt","qos":"2","broker":"72ea5e22.d0c31","x":190,"y":780,"wires":[["486420de.ec1d5","82480aff.28d238"]]},{"id":"c97a9e14.2550b","type":"ui_text_input","z":"dcde7d45.f1db5","name":"cfg/dose/drain/rate","label":"Drain Rate (ml/s)","tooltip":"","group":"691535d0.7783bc","order":10,"width":"3","height":"1","passthru":false,"mode":"text","delay":"0","topic":"cfg/dose/drain/rate","x":430,"y":740,"wires":[["db1c6b14.29f328"]]},{"id":"486420de.ec1d5","type":"ui_text_input","z":"dcde7d45.f1db5","name":"cfg/dose/drain/amt","label":"Drain Amt (ml)","tooltip":"","group":"691535d0.7783bc","order":9,"width":"3","height":"1","passthru":false,"mode":"text","delay":"0","topic":"cfg/dose/drain/amt","x":430,"y":780,"wires":[["db1c6b14.29f328"]]},{"id":"82480aff.28d238","type":"debug","z":"dcde7d45.f1db5","name":"","active":false,"console":"false","complete":"true","x":470,"y":880,"wires":[]},{"id":"c87d67a2.f4aef8","type":"debug","z":"dcde7d45.f1db5","name":"","active":false,"console":"false","complete":"true","x":930,"y":40,"wires":[]},{"id":"b515c04f.4b7e9","type":"mqtt out","z":"15557443.44bf4c","name":"Sleep button","topic":"home/device/sleep","qos":"0","retain":"false","broker":"72ea5e22.d0c31","x":710,"y":340,"wires":[]},{"id":"62f31785.c8f888","type":"comment","z":"15557443.44bf4c","name":"Momentary Push Button","info":"","x":297.5,"y":293.5000190734863,"wires":[]},{"id":"7bfd2958.bb2dc8","type":"ui_button","z":"15557443.44bf4c","name":"","group":"93f71a0b.3c5ca8","order":2,"width":0,"height":0,"passthru":false,"label":"- Sleep -","color":"black","bgcolor":"","icon":"","payload":"on","payloadType":"str","topic":"","x":259,"y":339,"wires":[["df108573.63b188"]]},{"id":"663726ff.0bf248","type":"ui_template","z":"15557443.44bf4c","group":"93f71a0b.3c5ca8","name":"Timer Dial","order":1,"width":"3","height":"3","format":"<style>\n    .nr-dashboard-template {\n        padding: 0;\n        margin: 0;\n        overflow-x: hidden;\n        overflow-y: hidden;\n}\n</style>\n\n<script src=\"/myjs/jquery.knob.min.js\"></script>\n \n<script>\n    // https://tech.scargill.net/more-dashboard-goodness/\n    (function(scope){\n        scope.$watch('msg', function(data) {\n            scope.msgSend = false;\n            $(\"#jqueryknob\" + scope.$id).val(data.payload);\n            $(\"#jqueryknob\" + scope.$id).change();\n            scope.msgSend = true;\n        });\n        scope.msgSend = true;\n        scope.value = 0;\n        scope.sendData = function(data){scope.send({payload:data})};   \n        scope.init= function(){\n            $(\"#jqueryknob\" + scope.$id).knob({\n                change : function (value) {\n                    //console.log(\"change: \" + value);\n                },\n                release : function (value) { \n                    if(scope.msgSend)scope.sendData(value);\n                },\n                cancel : function () {\n                },\n                draw : function () { }\n            }); \n        }\n        //Wait for angular to assign id to DOM element\n        setTimeout(function(){\n            scope.init();\n        },200)\n    })(scope);\n      \n</script>\n \n<input  id=\"jqueryknob{{$id}}\"\n        style=\"margin-left:auto;margin-right:auto;\"\n        class=\"cDial1\"\n        data-width=\"150\"\n        data-min=1\n        data-max=255\n        data-cursor=false\n        data-thickness=.4\n        data-fgColor=\"chartreuse\"\n        data-linecap=round\n        value=\"{{msg.payload ?  msg.payload : 1}}\"\n>\n<!--\n<input  id=\"jqueryknob{{$id}}\"\n        class=\"cDial1\"\n        data-width=\"98%\"\n        data-height=\"98%\" \n        data-cursor=true\n        data-thickness=.4\n        data-linecap=round\n        value=\"{{msg.payload ?  msg.payload : 0}}\"\n>\n-->","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":464,"y":118,"wires":[["67fef2f5.01e85c","3eddd07e.e92b4","a4de2749.d81438"]]},{"id":"67fef2f5.01e85c","type":"mqtt out","z":"15557443.44bf4c","name":"switchTimerValue","topic":"home/virtual/switchTimerValue","qos":"0","retain":"true","broker":"72ea5e22.d0c31","x":731,"y":178,"wires":[]},{"id":"3eddd07e.e92b4","type":"debug","z":"15557443.44bf4c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":714,"y":64,"wires":[]},{"id":"49088621.0e07d8","type":"comment","z":"15557443.44bf4c","name":"Timer Minutes","info":"","x":267.50003814697266,"y":60.750017166137695,"wires":[]},{"id":"4968d87e.3202d8","type":"debug","z":"15557443.44bf4c","name":"Sleep-n-Warning","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":730,"y":291,"wires":[]},{"id":"a4de2749.d81438","type":"function","z":"15557443.44bf4c","name":"Set Timer Minutes*60","func":"global.set('timerMin', msg.payload); // seconds to minutes\nreturn msg;","outputs":1,"noerr":0,"x":743.0000076293945,"y":119.00002861022949,"wires":[[]]},{"id":"c26ff05f.f0834","type":"function","z":"15557443.44bf4c","name":"Set Warning Minutes","func":"global.set('warningMin', msg.payload ); // seconds to minutes\nreturn msg;","outputs":1,"noerr":0,"x":739.0000076293945,"y":244.25002479553223,"wires":[[]]},{"id":"df108573.63b188","type":"function","z":"15557443.44bf4c","name":"Get global Time settings","func":"// Need to change the on to\n// { \"payload\": \"on\", \"timeout\": 690, \"warning\": 100 }\n\nif(msg.payload == \"on\") {\n    msg.payload = { \n        \"payload\": \"on\", \n        \"timeout\":   global.get('timerMin')||600,\n        \"warning\": global.get('warningMin')||150\n    };\n\n    return msg;\n}\n","outputs":1,"noerr":0,"x":469,"y":339.5999755859375,"wires":[["b515c04f.4b7e9","4968d87e.3202d8"]]},{"id":"43265abd.6f1bd4","type":"ui_template","z":"15557443.44bf4c","group":"93f71a0b.3c5ca8","name":"Warning","order":14,"width":"3","height":"3","format":"<style>\n    .nr-dashboard-template {\n        padding: 0;\n        margin: 0;\n        overflow-x: hidden;\n        overflow-y: hidden;\n}\n</style>\n\n<script src=\"/myjs/jquery.knob.min.js\"></script>\n \n<script>\n    // https://tech.scargill.net/more-dashboard-goodness/\n    (function(scope){\n        scope.$watch('msg', function(data) {\n            scope.msgSend = false;\n            $(\"#jqueryknob\" + scope.$id).val(data.payload);\n            $(\"#jqueryknob\" + scope.$id).change();\n            scope.msgSend = true;\n        });\n        scope.msgSend = true;\n        scope.value = 0;\n        scope.sendData = function(data){scope.send({payload:data})};   \n        scope.init= function(){\n            $(\"#jqueryknob\" + scope.$id).knob({\n                change : function (value) {\n                    //console.log(\"change: \" + value);\n                },\n                release : function (value) { \n                    if(scope.msgSend)scope.sendData(value);\n                },\n                cancel : function () {\n                },\n                draw : function () { }\n            }); \n        }\n        //Wait for angular to assign id to DOM element\n        setTimeout(function(){\n            scope.init();\n        },200)\n    })(scope);\n      \n</script>\n \n<input  id=\"jqueryknob{{$id}}\"\n        style=\"margin-left:auto;margin-right:auto;\"\n        class=\"cDial1\"\n        data-width=\"150\"\n        data-min=1\n        data-max=255\n        data-cursor=true\n        data-thickness=.3\n        data-fgColor=\"yellow\"\n        data-linecap=round\n        value=\"{{msg.payload ?  msg.payload : 1}}\"\n>\n--><div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":465.10003662109375,"y":244.5999755859375,"wires":[["4968d87e.3202d8","c26ff05f.f0834"]]},{"id":"5114ab9a.f36004","type":"inject","z":"15557443.44bf4c","name":"","topic":"","payload":"60","payloadType":"str","repeat":"","crontab":"","once":true,"x":268.7799987792969,"y":117.16000366210938,"wires":[["663726ff.0bf248"]]},{"id":"64973ced.e6f244","type":"inject","z":"15557443.44bf4c","name":"","topic":"","payload":"30","payloadType":"str","repeat":"","crontab":"","once":true,"x":267.7799987792969,"y":243.16001510620117,"wires":[["43265abd.6f1bd4"]]},{"id":"9d657f52.30807","type":"comment","z":"15557443.44bf4c","name":"Warning Minutes","info":"","x":275.5,"y":183.5,"wires":[]},{"id":"f9cc3e00.82368","type":"ui_switch","z":"15557443.44bf4c","name":"","label":"Timer","group":"93f71a0b.3c5ca8","order":3,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":502.5,"y":605.7500171661377,"wires":[["4631c2b3.cec03c"]]},{"id":"b83349b9.7c41b8","type":"mqtt in","z":"15557443.44bf4c","name":"switchTimer","topic":"home/virtual/switchTimer","qos":"0","broker":"72ea5e22.d0c31","x":265.83334011501734,"y":666.4167041778564,"wires":[["f9cc3e00.82368","d6ce6f88.e2108","54a3cb1d.6b0424","6c255bbc.256314"]]},{"id":"83805f85.7a917","type":"mqtt out","z":"15557443.44bf4c","name":"switchTimer","topic":"home/virtual/switchTimer","qos":"0","retain":"false","broker":"72ea5e22.d0c31","x":1114.5,"y":660.7500171661377,"wires":[]},{"id":"83760372.069b6","type":"debug","z":"15557443.44bf4c","name":"toMyTimerF","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","x":912.5,"y":606.7500171661377,"wires":[]},{"id":"9ccdb738.db0968","type":"comment","z":"15557443.44bf4c","name":"Timer On/Off","info":"","x":261.5,"y":471.7500171661377,"wires":[]},{"id":"4631c2b3.cec03c","type":"function","z":"15557443.44bf4c","name":"Get global time settings","func":"// Need to change the on to\n// { \"payload\": \"on\", \"timeout\": 69, \"warning\": 10 }\n\nif(msg.payload == \"on\") {\n    msg.payload = { \n        \"payload\": \"on\", \n        \"timeout\": global.get('timerMin'),\n        \"warning\": global.get('warningMin')\n    };\n} else {\n    msg.payload = {  \"payload\": \"off\" };\n}\nreturn msg;","outputs":1,"noerr":0,"x":688.5,"y":605.7500171661377,"wires":[["83760372.069b6","d6ce6f88.e2108"]]},{"id":"54a3cb1d.6b0424","type":"debug","z":"15557443.44bf4c","name":"switchTimerTopic2Timer","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","x":569.7500038146973,"y":540.5000286102295,"wires":[]},{"id":"1833b135.a4758f","type":"mqtt in","z":"15557443.44bf4c","name":"Sleep button","topic":"home/device/sleep","qos":"0","broker":"72ea5e22.d0c31","x":265.75000762939453,"y":735.7500305175781,"wires":[["d6ce6f88.e2108"]]},{"id":"49338510.53460c","type":"ui_switch","z":"15557443.44bf4c","name":"","label":"DeviceA","group":"93f71a0b.3c5ca8","order":9,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":580.1666598849827,"y":920.7500171661377,"wires":[["27840648.adda9a"]]},{"id":"4d5d2e39.6d07f","type":"mqtt in","z":"15557443.44bf4c","name":"DeviceA topic","topic":"home/test/DeviceA","qos":"1","broker":"72ea5e22.d0c31","x":260.5,"y":920.4167041778564,"wires":[["49338510.53460c"]]},{"id":"27840648.adda9a","type":"mqtt out","z":"15557443.44bf4c","name":"DeviceA topic","topic":"home/test/DeviceA","qos":"0","retain":"true","broker":"72ea5e22.d0c31","x":938.1666598849827,"y":920.7500171661377,"wires":[]},{"id":"21268698.de108a","type":"ui_switch","z":"15557443.44bf4c","name":"","label":"DeviceB","group":"93f71a0b.3c5ca8","order":10,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":580.1666598849827,"y":978.7500171661377,"wires":[["3677b84.944be48"]]},{"id":"e38a45ca.6e0238","type":"mqtt in","z":"15557443.44bf4c","name":"DeviceB topic","topic":"home/test/DeviceB","qos":"1","broker":"72ea5e22.d0c31","x":261.5,"y":978.4167041778564,"wires":[["21268698.de108a"]]},{"id":"3677b84.944be48","type":"mqtt out","z":"15557443.44bf4c","name":"DeviceB topic","topic":"home/test/DeviceB","qos":"0","retain":"true","broker":"72ea5e22.d0c31","x":938.1666598849827,"y":978.7500171661377,"wires":[]},{"id":"49eb3152.c313a","type":"ui_switch","z":"15557443.44bf4c","name":"","label":"DeviceC","group":"93f71a0b.3c5ca8","order":4,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":579.8333197699653,"y":1036.7500171661377,"wires":[["5fa2febf.52e"]]},{"id":"49108e07.f0b27","type":"mqtt in","z":"15557443.44bf4c","name":"DeviceC topic","topic":"home/test/DeviceC","qos":"0","broker":"72ea5e22.d0c31","x":261.16665988498266,"y":1036.4167041778564,"wires":[["49eb3152.c313a"]]},{"id":"5fa2febf.52e","type":"mqtt out","z":"15557443.44bf4c","name":"DeviceC topic","topic":"home/test/DeviceC","qos":"0","retain":"false","broker":"72ea5e22.d0c31","x":938.8333197699653,"y":1036.7500171661377,"wires":[]},{"id":"ee4f39f2.0c34c8","type":"comment","z":"15557443.44bf4c","name":"Device Switches","info":"","x":269.91665988498266,"y":867.2500171661377,"wires":[]},{"id":"6c255bbc.256314","type":"function","z":"15557443.44bf4c","name":"Devices list","func":"/*\n--------------------------------------------------------------------------------\nOkay a bit confusing but ...\nI've been sending only on 'on'/'off'/'warning' to the first output (I now have\n2).\n\nI want to create a list of device topics to send to. This list would be in a\nspecific order. And this function you take the 'msg.payload' off and build\na msg.list = [ 'nodeA', 'nodeB', 'nodeC' ] and unshift each as they are resent\nthrough a delay node on output 2. This would work down to none where the node\nwould stop sending.\n\nWe'll keep the on off support for now. Later I'll stop the on as the timer is\nmeant to turn off things not turn on things.\n\nTo talk to a specific topic we'll need the following format:\nmsg = {\n    payload:  string | buffer\n              most users prefer simple text payloads, but binary buffers can\n              also be published.\n    topic:    string\n              the MQTT topic to publish to.\n    qos:      number\n              0, fire and forget - 1, at least once - 2, once and once only.\n              Default 0.\n    retain:   boolean\n              set to true to retain the message on the broker.\n              Default false.\n}\n\nmsg = {\n    payload: \"off\",\n    topics: [ 't1', 't2', t3', 't4']\n}\n*/\n\nvar nMsg = {};\n\n//\n// NOTE: this is the device list (devices are listening on these topics)\n//\nvar topics = [\n    'home/test/DeviceA',\n    'home/test/DeviceB',\n    'home/test/DeviceC'\n];\n\nif(msg.topics === undefined) {\n    // Not sure what to do if it's not a string\n    if(false && typeof(msg.payload) == 'string') {\n        nMsg = JSON.parse(msg.payload);\n        // Not sure if I should check to see if it's on or off\n        // return [ nMsg, ];\n    } else {\n        nMsg = msg;\n    }\n\n    // the Payload remains untouched\n    nMsg['topic']  = topics.shift(); // pop a topic off the list\n    nMsg['topics'] = topics;         // save the rest for later\n\n    console.log(\"Out: \" + JSON.stringify(nMsg));\n    return [ nMsg, nMsg ];\n} else if(msg.topics.length) {\n    nMsg = msg;\n\n    nMsg['topic']  = msg.topics.shift(); // pop a topic off the list\n    nMsg['topics'] = msg.topics;         // save the rest for later\n\n    console.log(\"Out: \" + JSON.stringify(nMsg));\n    return [ nMsg, nMsg ];\n}\n","outputs":2,"noerr":0,"x":516.5,"y":422.7500171661377,"wires":[["67fe0a24.507d64","14a9d6d3.8cc069"],["1a075731.c0e149"]]},{"id":"1a075731.c0e149","type":"delay","z":"15557443.44bf4c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":512.5,"y":491.7500171661377,"wires":[["6c255bbc.256314"]]},{"id":"67fe0a24.507d64","type":"debug","z":"15557443.44bf4c","name":"Delay loop","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":804.5,"y":415.7500171661377,"wires":[]},{"id":"14a9d6d3.8cc069","type":"mqtt out","z":"15557443.44bf4c","name":"MQTT Devices","topic":"","qos":"","retain":"","broker":"72ea5e22.d0c31","x":818.5,"y":463.7500171661377,"wires":[]},{"id":"45600ee.ff755f","type":"debug","z":"15557443.44bf4c","name":"toSwitchTimer","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","x":1136,"y":709.3500232696533,"wires":[]},{"id":"3e941e5d.98ec12","type":"debug","z":"15557443.44bf4c","name":"ticks","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","x":1107.7000122070312,"y":752.5500049591064,"wires":[]},{"id":"d6ce6f88.e2108","type":"mytimeout","z":"15557443.44bf4c","name":"My Timeout","outtopic":"","outsafe":"on","outwarning":"warning","outunsafe":"off","warning":"5","timer":"30","repeat":false,"again":false,"x":902.5,"y":666.7500171661377,"wires":[["83805f85.7a917","45600ee.ff755f"],["3e941e5d.98ec12","44870438.097e1c"]]},{"id":"44870438.097e1c","type":"ui_template","z":"15557443.44bf4c","group":"93f71a0b.3c5ca8","name":"Timer Dial","order":1,"width":"3","height":"3","format":"<style>\n    .nr-dashboard-template {\n        padding: 0;\n        margin: 0;\n        overflow-x: hidden;\n        overflow-y: hidden;\n}\n</style>\n\n<script src=\"/myjs/jquery.knob.min.js\"></script>\n \n<script>\n    // https://tech.scargill.net/more-dashboard-goodness/\n    (function(scope){\n        scope.$watch('msg', function(data) {\n            scope.msgSend = false;\n            $(\"#jqueryknob\" + scope.$id).val(data.payload);\n            $(\"#jqueryknob\" + scope.$id).change();\n            scope.msgSend = true;\n        });\n        scope.msgSend = true;\n        scope.value = 0;\n        scope.sendData = function(data){scope.send({payload:data})};   \n        scope.init= function(){\n            $(\"#jqueryknob\" + scope.$id).knob({\n                change : function (value) {\n                    //console.log(\"change: \" + value);\n                },\n                release : function (value) { \n                    if(scope.msgSend)scope.sendData(value);\n                },\n                cancel : function () {\n                },\n                draw : function () { }\n            }); \n        }\n        //Wait for angular to assign id to DOM element\n        setTimeout(function(){\n            scope.init();\n        },200)\n    })(scope);\n      \n</script>\n \n<input  id=\"jqueryknob{{$id}}\"\n        style=\"margin-left:auto;margin-right:auto;\"\n        class=\"cDial1\"\n        data-width=\"150\"\n        data-min=0\n        data-max=100\n        data-cursor=false\n        data-thickness=.4\n        data-fgColor=\"#c3c3c3\"\n        data-linecap=round\n        value=\"{{msg.payload ?  msg.payload : 1}}\"\n>\n<!--\n<input  id=\"jqueryknob{{$id}}\"\n        class=\"cDial1\"\n        data-width=\"98%\"\n        data-height=\"98%\" \n        data-cursor=true\n        data-thickness=.4\n        data-linecap=round\n        value=\"{{msg.payload ?  msg.payload : 0}}\"\n>\n-->","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1110,"y":820,"wires":[[]]},{"id":"5aa5694.90cf898","type":"mqtt in","z":"3aa72dda.b4e742","name":"","topic":"Sensor/esp_wl","qos":"2","broker":"72ea5e22.d0c31","x":280,"y":300,"wires":[["6b843daf.bda334","ebcd1578.7fd238","cdbc3a2e.182668"]]},{"id":"c30c0141.47783","type":"influxdb out","z":"3aa72dda.b4e742","influxdb":"b72cd584.69f598","name":"","measurement":"SensorReadings","precision":"","retentionPolicy":"","x":1580,"y":390,"wires":[]},{"id":"d50b6627.8599b8","type":"function","z":"3aa72dda.b4e742","name":"Build Influx msg","func":"var origPayload = msg.payload;\n\nmsg.measurement = \"SensorReadings\";\nvar payload = parseInt(origPayload);\npayload = payload; // + 3;\nmsg.payload = [{\n    value: payload,\n},\n{\n    sensor:\"waterLevel\",\n    type:\"esp\"\n}];\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":270,"wires":[["27fcb17b.5e845e"]]},{"id":"1e86193a.6aef27","type":"rbe","z":"3aa72dda.b4e742","name":"","func":"narrowband","gap":"2%","start":"","inout":"out","x":570,"y":220,"wires":[["68d86df7.e0df44"]]},{"id":"68d86df7.e0df44","type":"function","z":"3aa72dda.b4e742","name":"Responsive Read","func":"//\n// scroll to bottom to see responsiveAnalogRead() function\n//\n\n// consts\nvar ANALOG_RESOLUTION = 23000;\nvar globalSnap = 0;\nvar responsiveValue = 0;\n\n\n//\n// consts\n//\n\nfunction millis () { \n  var d = new Date();\n  return d.getTime(); \n}\n\n\n\n// affects the curve of movement amount > snap amount\n// smaller amounts like 0.001 make it ease slower\n// larger amounts like 0.1 make it less smooth\nvar SNAP_MULTIPLIER = 0.005;\n\n// enable sleep, so tiny movements of responsiveValue are ignored\n// good for when you want to limit how often responsiveValue updates\n// setting sleep to false means that responsiveValue will ease into position\nvar SLEEP_ENABLE = true;\n\n// how much 'movement' must take place to wake up*\n// sleeping makes it harder to wake up. The result is that a nudge is needed to get responsiveAnalogRead to change values if it has been asleep\nvar ACTIVITY_THRESHOLD = 4;\n\n// enable edge snapping, which will pull values close to either end of the spectrum toward the edge when sleep is enabled. \n// It makes it possible for sleep enabled values to reach either end, without it sleep may kick in too early and the output \n// value may not be able to be pulled closer to the edges\nvar EDGE_SNAP_ENABLE = true;\n\n//\n// vars for responsiveAnalogRead\n//\n\nvar smoothValue = 0;\nvar errorEMA = 0;\nvar lastActivityMS = 0;\nvar sleeping = false;\n\n//\n// responsive analog read\n//\n\nfunction responsiveAnalogRead (newValue) {\n  // get current milliseconds\n  var ms = millis();\n  \n  // if sleep and edge snap are enabled and the new value is very close to an edge, drag it a little closer to the edges. This'll make it easier to pull the output values right to the extremes without sleeping, and it'll make movements right near the edge appear larger, making it easier to wake up.\n  if(SLEEP_ENABLE && EDGE_SNAP_ENABLE) {\n    if(newValue < ACTIVITY_THRESHOLD) {\n      newValue = newValue*2 - ACTIVITY_THRESHOLD;\n    } else if(newValue > ANALOG_RESOLUTION - ACTIVITY_THRESHOLD) {\n      newValue = newValue*2 - ANALOG_RESOLUTION + ACTIVITY_THRESHOLD;\n    }\n  }\n  \n  // get difference between new input value and current smooth value\n  var diff = Math.abs(newValue - smoothValue);\n  \n  // measure the difference between the new value and current value over time\n  // to get a more reasonable indication of how far off the current smooth value is\n  // compared to the actual measurements\n  errorEMA += ((newValue - smoothValue) - errorEMA) * 0.4;\n \n  // if sleep has been enabled, keep track of when we're asleep or not by marking the time of last activity and testing to see how much time has passed since then\n  if(SLEEP_ENABLE) {\n    // recalculate sleeping status\n    // (asleep if last activity was over SLEEP_DELAY_MS ago)\n    sleeping = Math.abs(errorEMA) < ACTIVITY_THRESHOLD;\n  }\n  \n  // if we're allowed to sleep, and we're sleeping\n  // then don't update responsiveValue this loop\n  // just output the existing responsiveValue\n  if(SLEEP_ENABLE && sleeping) {\n    return Math.floor(smoothValue);\n  }\n  \n  // now calculate a 'snap curve' function, where we pass in the diff (x) and get back a number from 0-1. We want small values of x to result in an \n  // output close to zero, so when the smooth value is close to the input value it'll smooth out noise aggressively by responding slowly to sudden \n  // changes. We want a small increase in x to result in a much higher output value, so medium and large movements are snappy and responsive, and \n  // aren't made sluggish by unnecessarily filtering out noise. A hyperbola (f(x) = 1/x) curve is used. First x has an offset of 1 applied, so x = 0 now \n  // results in a value of 1 from the hyperbola function. High values of x tend toward 0, but we want an output that begins at 0 and tends toward 1, so 1-y \n  // flips this up the right way. Finally the result is multiplied by 2 and capped at a maximum of one, which means that at a certain point all larger \n  // movements are maximally snappy\n  \n  var snapCurve = function(x) {\n    var y = 1 / (x + 1);\n    y = (1 - y)*2;\n    if(y > 1) {\n      return 1;\n    }\n    return y;\n  };\n  \n  // multiply the input by SNAP_MULTIPLER so input values fit the snap curve better. \n  var snap = snapCurve(diff * SNAP_MULTIPLIER);\n  \n  // when sleep is enabled, the emphasis is stopping on a responsiveValue quickly, and it's less about easing into position. If sleep is enabled, add a small amount to snap so it'll tend to snap into a more accurate position before sleeping starts.\n  if(SLEEP_ENABLE) {\n    snap = snap*0.5 + 0.5;\n  }\n  \n  // (update globalSnap so we can show snap in the output window)\n  globalSnap = snap;\n  \n  // calculate the exponential moving average based on the snap\n  smoothValue += (newValue - smoothValue) * snap;\n  \n  // ensure output is in bounds\n  if(smoothValue < 0) {\n    smoothValue = 0;\n  } else if(smoothValue > ANALOG_RESOLUTION - 1) {\n    smoothValue = ANALOG_RESOLUTION - 1;\n  }\n  \n  // expected output is an integer\n  return Math.floor(smoothValue);\n}\n\n\n\n\nvar level = parseInt(msg.payload)/100;\nresponsiveValue = responsiveAnalogRead(level);\nmsg.payload = responsiveValue;\nmsg.topic = 'responsiveRead';\nreturn msg;\n","outputs":1,"noerr":0,"x":670,"y":270,"wires":[["91179dcf.028cc","aa36d53e.d64768","91c68fcd.16a93"]]},{"id":"91179dcf.028cc","type":"range","z":"3aa72dda.b4e742","minin":"0","maxin":"186","minout":"0","maxout":"105","action":"clamp","round":true,"property":"payload","name":"","x":970,"y":270,"wires":[["d50b6627.8599b8","e54ec839.1d3ab8"]]},{"id":"e54ec839.1d3ab8","type":"debug","z":"3aa72dda.b4e742","name":"","active":false,"console":"false","complete":"true","x":1130,"y":220,"wires":[]},{"id":"32bc41a3.30c9de","type":"catch","z":"3aa72dda.b4e742","name":"","scope":null,"x":250,"y":80,"wires":[["7d22c71b.8689b8"]]},{"id":"7d22c71b.8689b8","type":"debug","z":"3aa72dda.b4e742","name":"","active":true,"console":"false","complete":"true","x":430,"y":80,"wires":[]},{"id":"ebcd1578.7fd238","type":"function","z":"3aa72dda.b4e742","name":"","func":"var level = parseInt(msg.payload)/1000;\nmsg.payload = level;\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":320,"wires":[["45417c19.324df4","61b0853a.87db0c"]]},{"id":"aa36d53e.d64768","type":"debug","z":"3aa72dda.b4e742","name":"","active":false,"console":"false","complete":"true","x":1030,"y":100,"wires":[]},{"id":"91c68fcd.16a93","type":"function","z":"3aa72dda.b4e742","name":"Build Influx msg","func":"var origPayload = msg.payload;\nmsg.measurement = \"SensorReadings\";\nvar payload = parseInt(origPayload);\n\nmsg.payload = [{\n    value: payload,\n},\n{\n    sensor:\"waterLevel\",\n    type:\"esp_raw\"\n}];\nreturn msg;","outputs":1,"noerr":0,"x":1260,"y":170,"wires":[[]]},{"id":"fd42558d.66e2e8","type":"function","z":"3aa72dda.b4e742","name":"Build Influx msg","func":"var origPayload = msg.payload;\nmsg.measurement = \"SensorReadings\";\nvar payload = parseInt(origPayload);\n\nmsg.payload = [{\n    value: payload,\n},\n{\n    sensor:\"waterLevel\",\n    type:\"esp_kalman_range\"\n}];\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":350,"wires":[["c30c0141.47783"]]},{"id":"14804cf0.f4c143","type":"range","z":"3aa72dda.b4e742","minin":"0","maxin":"203","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":930,"y":320,"wires":[["68984ba4.0d53c4"]]},{"id":"f2f6b036.76c4a","type":"function","z":"3aa72dda.b4e742","name":"Build Influx msg","func":"var origPayload = msg.payload;\nmsg.measurement = \"SensorReadings\";\nvar payload = parseInt(origPayload);\n\nmsg.payload = [{\n    value: payload,\n},\n{\n    sensor:\"waterLevel\",\n    type:\"esp_kalman_raw\"\n}];\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":380,"wires":[[]]},{"id":"27fcb17b.5e845e","type":"delay","z":"3aa72dda.b4e742","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1400,"y":320,"wires":[["c30c0141.47783","4abed349.62a63c"]]},{"id":"6b843daf.bda334","type":"smooth","z":"3aa72dda.b4e742","name":"","property":"payload","action":"mean","count":"10","round":"0","mult":"single","x":440,"y":270,"wires":[["68d86df7.e0df44"]]},{"id":"45417c19.324df4","type":"kalman-filter","z":"3aa72dda.b4e742","r":0.01,"q":3,"x":740,"y":320,"wires":[["14804cf0.f4c143","f2f6b036.76c4a","7f9b3f5c.563f7"]]},{"id":"be43bf6c.c9e8a","type":"mqtt in","z":"3aa72dda.b4e742","name":"","topic":"Sensor/esp_wl","qos":"2","broker":"72ea5e22.d0c31","x":240,"y":500,"wires":[["dbfb06e1.c431b8"]]},{"id":"dbfb06e1.c431b8","type":"debug","z":"3aa72dda.b4e742","name":"","active":false,"console":"false","complete":"true","x":410,"y":500,"wires":[]},{"id":"68984ba4.0d53c4","type":"debug","z":"3aa72dda.b4e742","name":"","active":false,"console":"false","complete":"true","x":1190,"y":440,"wires":[]},{"id":"cdbc3a2e.182668","type":"debug","z":"3aa72dda.b4e742","name":"","active":false,"console":"false","complete":"true","x":410,"y":360,"wires":[]},{"id":"7f9b3f5c.563f7","type":"debug","z":"3aa72dda.b4e742","name":"","active":false,"console":"false","complete":"true","x":850,"y":480,"wires":[]},{"id":"61b0853a.87db0c","type":"debug","z":"3aa72dda.b4e742","name":"","active":false,"console":"false","complete":"true","x":650,"y":460,"wires":[]},{"id":"7c32fe48.13b3c","type":"mqtt out","z":"3aa72dda.b4e742","name":"","topic":"","qos":"0","retain":"false","broker":"72ea5e22.d0c31","x":1270,"y":740,"wires":[]},{"id":"7c6ca8c0.146948","type":"inject","z":"3aa72dda.b4e742","name":"","topic":"humidity","payload":"","payloadType":"str","repeat":"300","crontab":"","once":true,"onceDelay":0.1,"x":210,"y":660,"wires":[[]]},{"id":"9866069f.9429e8","type":"debug","z":"3aa72dda.b4e742","name":"","active":false,"console":"false","complete":"true","x":1310,"y":580,"wires":[]},{"id":"2785160f.e01faa","type":"split","z":"3aa72dda.b4e742","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":530,"y":660,"wires":[["312d19d8.73baa6"]]},{"id":"312d19d8.73baa6","type":"switch","z":"3aa72dda.b4e742","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"temperature_C","vt":"str"},{"t":"eq","v":"model","vt":"str"},{"t":"eq","v":"dewPoint_C","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":4,"x":670,"y":660,"wires":[[],[],["b6e354dc.6a4b18"],["d6fb877b.29ba48"]]},{"id":"b6e354dc.6a4b18","type":"function","z":"3aa72dda.b4e742","name":"","func":"var tempc = msg.payload;\n    tempf = tempc * 9/5 + 32;\n    tempf = Math.round(tempf * 10) / 10;\n    msg.payload = tempf;\n    msg.topic =  \"env/dewPoint\";\n    msg.unit = \"F\";\n    return msg;","outputs":1,"noerr":0,"x":830,"y":640,"wires":[["db2bd99d.2ae218"]]},{"id":"d6fb877b.29ba48","type":"function","z":"3aa72dda.b4e742","name":"","func":"msg.payload = (Number(msg.payload)).toFixed(2);\nvar topic = msg.topic.split(\"_\");\nmsg.topic = \"env/\" + topic[0];\nmsg.unit = topic[1] || \"\";\n\n\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":680,"wires":[["db2bd99d.2ae218","551ad1bc.e5c6a"]]},{"id":"db2bd99d.2ae218","type":"function","z":"3aa72dda.b4e742","name":"Influx Msgs for BME280","func":"var payload = parseFloat(msg.payload);\nvar sensor = msg.topic.split(\"/\")[1];\nvar unit = msg.unit || \"\";\nif (sensor === \"pressure\")\n{\n    sensor = \"pressure 2\";\n    if (unit ==\"Hg\"){\n        sensor = \"pressure 1\";\n    }\n\n}\n\nif (sensor === \"heatIndex\" )\n{\n    unit=\"F\";\n}\nelse if (sensor === \"humidity\" )\n{\n    unit=\"%\";\n}\n\n\nmsg2 = {};\nmsg2.payload = [{\n    value: payload,\n},\n{\n    sensor: sensor,\n    type:\"esp\",\n    unit: unit\n}];\nmsg2.measurement = \"Environment\";\nmsg2.topic = msg.topic;\nreturn msg2;","outputs":1,"noerr":0,"x":1050,"y":660,"wires":[["9866069f.9429e8","7c32fe48.13b3c","f6714bf.b9b8cb8"]]},{"id":"f6714bf.b9b8cb8","type":"influxdb out","z":"3aa72dda.b4e742","influxdb":"b72cd584.69f598","name":"","measurement":"Environment","precision":"","retentionPolicy":"","x":1400,"y":660,"wires":[]},{"id":"4abed349.62a63c","type":"debug","z":"3aa72dda.b4e742","name":"","active":false,"console":"false","complete":"true","x":1610,"y":260,"wires":[]},{"id":"fc99b88.f17c948","type":"debug","z":"3aa72dda.b4e742","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":510,"y":760,"wires":[]},{"id":"551ad1bc.e5c6a","type":"debug","z":"3aa72dda.b4e742","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1070,"y":740,"wires":[]},{"id":"59555d54.7bba14","type":"debug","z":"f0075dd2.5f44e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1030,"y":300,"wires":[]},{"id":"cbc1eb0d.0f3958","type":"function","z":"8b03d247.f1303","name":"aggregator","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1194.9999923706055,"y":501,"wires":[["95f66bae.5ca9d8","28a31646.7417ba","8cf45f6c.2329e"]]},{"id":"95f66bae.5ca9d8","type":"debug","z":"8b03d247.f1303","name":"","active":false,"console":"false","complete":"true","x":1314.9999923706055,"y":441,"wires":[]},{"id":"f8273032.85c3d","type":"inject","z":"8b03d247.f1303","name":"","topic":"NEXT","payload":"off","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":180,"y":1140,"wires":[["28a31646.7417ba"]]},{"id":"28a31646.7417ba","type":"function","z":"8b03d247.f1303","name":"Handle Board","func":"var fertboard = context.get(\"fertboard\") || {};\nif (msg.topic === \"NEXT\"){\n    fertboard.drain = {name: \"Drain\", completed:false, running: false, amt: global.get(\"drain_amt\"), rate: global.get(\"drain_rate\") };\n    fertboard.mixer = {name: \"Mixer\", completed:false, running: false, amt: global.get(\"mixer_amt\"), rate: global.get(\"mixer_rate\") };\n    fertboard.macro = {name: \"Macro\", completed:false, running: false, amt: global.get(\"macro_amt\"), rate: global.get(\"macro_rate\") };\n    fertboard.micro = {name: \"Micro\", completed:false, running: false, amt: global.get(\"micro_amt\"), rate: global.get(\"micro_rate\") };\n    fertboard.alk =   {name: \"Alk\",   completed:false, running: false, amt: global.get(\"alk_amt\"), rate: global.get(\"alk_rate\") };\n    fertboard.gh =    {name: \"GH\",    completed:false, running: false, amt: global.get(\"gh_amt\"), rate: global.get(\"gh_rate\") };\n    context.set(\"fertboard\", fertboard);\n    var msg2 = {payload: fertboard};\n    node.send(msg2);\n}\nelse\n{\n\nvar payload = msg.payload ===  \"on\" ? true : false;\nvar device = msg.topic.split(\"/\")[2];\n\nfertboard[device].completed = !payload;\nfertboard[device].running = payload;\nfertboard[device].amt = global.get(device + \"_amt\");\nfertboard[device].rate =  global.get(device + \"_rate\");\n\n//node.warn(fertboard);\ncontext.set(\"fertboard\",fertboard);\n\nvar msg2 = {payload: fertboard};\n//msg2.oldpay = msg.payload;\n//msg2.oldtopic = msg.topic;\nmsg2.currDevice = fertboard[device];\nmsg2.action = msg.payload;\nnode.send(msg2);\n}\n","outputs":1,"noerr":0,"x":460,"y":1100,"wires":[["20170be2.0674a4","c22c1d95.6ddca","21ec395f.39d4a6"]]},{"id":"20170be2.0674a4","type":"ui_template","z":"8b03d247.f1303","group":"a0e68307.6cfd8","name":"FertBoard","order":1,"width":"6","height":"4","format":"\n<style>\n    :focus {\n        outline: 0;\n    }\n\n    .btn-row {\n        margin-bottom: 5px;\n        margin-top: 0px;\n        margin-left: 5px;\n        margin-left: 0px;\n    }\n    \n   .md-button.btn {\n               background-color: #c3c3c3;\n    }\n    \n    .md-button.btn.btn-off.btn-selected {\n        background-color: #F4511E;\n    }\n    \n    .md-button.btn.btn-on.btn-selected {\n        background-color: #66FF00;\n    }\n    \n    .md-button.btn.btn-auto.btn-selected {\n        background-color: #ffaa00;\n    }\n    \n    \n    .btn-name {\n        text-align: left;\n        margin-left: 2px;\n\n    }\n    \n    .btn-rate {\n        text-align: right;\n        margin-right: 10px;\n\n    }\n\n    .power-on {\n     color: #00ff00;\n    }\n    .power-off {\n     color: #ff0000;\n    }\n    .fa-times\n    {\n        color: #ff0000;\n    }\n    .fa-check {\n        color: #00ff00;\n    }\n\n    .fa-refresh {\n        color: #00ff00;\n    }\n\n \n</style>\n\n\n\n<div ng-repeat=\"(key, device) in msg.payload\">\n    <div class=\"btn-row\" layout=\"row\" layout-sm=\"column\" layout-align=\"left center\" layout-wrap>\n\t\t<span class=\"btn-name\" flex>&nbsp; &nbsp;{{device.name}}</span><span  class=\"btn-rate\" flex> &nbsp; &nbsp;{{device.name !== \"Mixer\" ? device.amt + \" @ \" + device.rate + \" ml/s\" : \"\"}} </span>\n\t\t<span \n\t\t    class=\"fa fa-times \"\n\t\t    ng-class=\"device.completed === true ? 'fa fa-check' : device.running === false ? 'fa fa-times ' : 'fa fa-refresh fa-spin'\">\n\t\t</span>\n    </div>\n</div>\n\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":640,"y":1020,"wires":[["6c9ff31d.dc888c"]]},{"id":"c22c1d95.6ddca","type":"debug","z":"8b03d247.f1303","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":590,"y":1180,"wires":[]},{"id":"6c9ff31d.dc888c","type":"debug","z":"8b03d247.f1303","name":"","active":false,"console":"false","complete":"true","x":790,"y":1000,"wires":[]},{"id":"1ab85d0e.3c0053","type":"catch","z":"8b03d247.f1303","name":"","scope":null,"x":120,"y":40,"wires":[["c2d881a6.07e52"]]},{"id":"c2d881a6.07e52","type":"debug","z":"8b03d247.f1303","name":"","active":true,"console":"false","complete":"true","x":290,"y":40,"wires":[]},{"id":"8cf45f6c.2329e","type":"switch","z":"8b03d247.f1303","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"drain","vt":"str"},{"t":"cont","v":"mixer","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":1210,"y":280,"wires":[["7f50e595.48e4fc"],["7f50e595.48e4fc"],["7a68a7b9.607488"]]},{"id":"7a68a7b9.607488","type":"mqtt out","z":"8b03d247.f1303","name":"relays/input/+","topic":"","qos":"","retain":"","broker":"72ea5e22.d0c31","x":1440,"y":320,"wires":[]},{"id":"7f50e595.48e4fc","type":"mqtt out","z":"8b03d247.f1303","name":"relays/input/+","topic":"","qos":"","retain":"","broker":"a17a229d.02d25","x":1440,"y":260,"wires":[]},{"id":"8e14701e.9c5b3","type":"delay","z":"8b03d247.f1303","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":260,"y":840,"wires":[["b5db098a.d54088"]]},{"id":"3db7435f.a7bdfc","type":"mytimeout","z":"8b03d247.f1303","name":"","outtopic":"{{msg.name}}","outsafe":"on","outwarning":"","outunsafe":"off","warning":"0","timer":"0","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":1050,"y":1000,"wires":[["8babfdb6.383e9"],["7ad35007.c6807","daff7ba9.b5a678"]]},{"id":"10a0ebba.fb6654","type":"inject","z":"8b03d247.f1303","name":"","topic":"","payload":"{\"payload\":\"on\",\"timeout\":10,\"warning\":30}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":900,"y":880,"wires":[["3db7435f.a7bdfc"]]},{"id":"8babfdb6.383e9","type":"debug","z":"8b03d247.f1303","name":"","active":false,"console":"false","complete":"true","x":1260,"y":980,"wires":[]},{"id":"7ad35007.c6807","type":"debug","z":"8b03d247.f1303","name":"","active":false,"console":"false","complete":"true","x":1240,"y":1020,"wires":[]},{"id":"daff7ba9.b5a678","type":"ui_text","z":"8b03d247.f1303","group":"a0e68307.6cfd8","order":2,"width":0,"height":0,"name":"Timer","label":"Seconds Remaining","format":"{{msg.payload}}","layout":"row-spread","x":1260,"y":1080,"wires":[]},{"id":"b24ac31a.bfc7a","type":"debug","z":"8b03d247.f1303","name":"","active":false,"console":"false","complete":"true","x":790,"y":260,"wires":[]},{"id":"21ec395f.39d4a6","type":"function","z":"8b03d247.f1303","name":"","func":"if (msg.action === \"on\" && msg.currDevice.name !== \"Mixer\")\n{\n\nvar device = msg.currDevice;\nvar amt = parseFloat(device.amt);\nvar rate = parseFloat(device.rate);\nvar secs =parseInt(amt/rate);\n\nvar payload = \n{\n    \"payload\": \"on\",\n    \"timeout\": secs,\n    \"warning\": 0\n};\n\nvar msg2 = {payload: payload};\nmsg2.name = device.name;\nflow.set(\"fertname\",device.name);\nnode.send(msg2);\n}\n","outputs":1,"noerr":0,"x":880,"y":1040,"wires":[["3db7435f.a7bdfc"]]},{"id":"26ab87d9.e8fd68","type":"exec","z":"1044d52f.831e8b","command":"sudo du -sh /var/lib/influxdb/data/AquaEscape","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"arp","x":490,"y":1900,"wires":[["977ece8c.8de38","ba1390f5.abc1"],["ba1390f5.abc1"],["ba1390f5.abc1"]]},{"id":"3a4f8823.6bfc58","type":"ui_button","z":"1044d52f.831e8b","name":"","group":"34ba262b.59a9ca","order":5,"width":0,"height":0,"passthru":false,"label":"Update InfluxStats","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":310,"y":1900,"wires":[["26ab87d9.e8fd68"]]},{"id":"6d92a8cf.907d28","type":"inject","z":"1044d52f.831e8b","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":1900,"wires":[["3a4f8823.6bfc58"]]},{"id":"977ece8c.8de38","type":"function","z":"1044d52f.831e8b","name":"","func":"var payload = msg.payload.split(\"/\")[0];\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":1940,"wires":[["d3c8f0ee.eaf82"]]},{"id":"d3c8f0ee.eaf82","type":"ui_text","z":"1044d52f.831e8b","group":"34ba262b.59a9ca","order":1,"width":0,"height":0,"name":"","label":"Influx Disk Size","format":"{{msg.payload}}","layout":"row-spread","x":860,"y":1940,"wires":[]},{"id":"4248cdc0.a49e04","type":"inject","z":"a561ce96.8b15d","name":"","topic":"","payload":"{pca9685:64,0xffff,1}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":400,"wires":[["32457287.cbc6de"]]},{"id":"ba1390f5.abc1","type":"debug","z":"1044d52f.831e8b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":710,"y":1880,"wires":[]},{"id":"8b1e3378.c230c","type":"smooth","z":"a203440a.3c5b78","name":"","property":"payload","action":"mean","count":"10","round":"","mult":"single","x":280,"y":260,"wires":[["b7ed424e.03a4a"]]},{"id":"e62a0f81.b457e","type":"ui_text","z":"f0075dd2.5f44e","group":"a0e68307.6cfd8","order":2,"width":"2","height":"2","name":"Level","label":"<font size='5'>H2O</font>","format":"<font size='4' color={{msg.color}}>{{msg.payload}}</font>","layout":"col-center","x":810,"y":120,"wires":[]}]